[2013-10-14 05:42] looztra opened #5 "support lombok.experimental.Builder"
This is a kind of fork for this original issue https://code.google.com/p/lombok-intellij-plugin/issues/detail?id=12

I prefer the approach of  lombok.experimental.Builder over the one in lombok-pg

[2013-10-17 13:00] ftomassetti opened #8 "It doesn't work in my test"
Hi,
I have the plugin installed from repository. It is listed among the installed plugins. I have lombok in my classpath and I get completion support for Lombok generated methods BUT while running the tests it fails complaining about missing symbols.

Did I misconfigure something or is it not supported for tests?

[2013-10-17 14:29] #8 closed, assigned to SpOOnman

[2013-10-17 15:03] astubbs opened #9 "Support val"
http://projectlombok.org/features/val.html

[2013-10-27 10:51] #5 closed, assigned to nobody

[2013-10-28 19:18] ghost opened #12 "Editor becomes very slow with large files"
If the java file is a little bit larger than usual (in my example 490 lines), the editor becomes horribly slow. When the lombok plugin is disabled, everything is fine again :(

[2013-10-28 20:16] mplushnikov opened #13 "Lombok Plugin 0.7 produce StackOverflowError"
see:
https://code.google.com/p/lombok-intellij-plugin/issues/detail?id=75
and
https://code.google.com/p/lombok-intellij-plugin/issues/detail?id=76

null
java.lang.StackOverflowError
    at com.intellij.extapi.psi.StubBasedPsiElementBase.getStubOrPsiChildren(StubBasedPsiElementBase.java:332)
    at com.intellij.psi.impl.source.PsiClassImpl.getOwnInnerClasses(PsiClassImpl.java:340)
    at com.intell

[2013-10-30 11:35] donnerpeter opened #14 "StackOverflow"
StackOverflow

java.lang.StackOverflowError
....
    at com.intellij.psi.impl.compiled.ClsMethodImpl$2.compute(ClsMethodImpl.java:71)
    at com.intellij.psi.impl.compiled.ClsMethodImpl$2.compute(ClsMethodImpl.java:67)
    at com.intellij.openapi.util.AtomicNotNullLazyValue.getValue(AtomicNotNullLazyValue.java:37)
    at com.intellij.psi.impl.compiled.ClsMethodImpl.getDefaultValue(ClsMethodImpl.ja

[2013-10-31 12:15] giko opened #15 "Slf4j in static context"
Don't know if error is present in other loggers, but for Slf4j:

[code]

plugin can't resolve log object

[2013-11-01 20:58] #12 closed, assigned to nobody

[2013-11-01 21:00] #14 closed, assigned to nobody

[2013-11-04 22:11] #13 closed, assigned to mplushnikov

[2013-11-14 14:00] twillouer opened #17 "Cyclic parent child relation"
On a project without lombok :

[code]

[2013-12-03 22:00] zoheb opened #19 "Support for IntelliJ 13"
Thanks for the great work with this plugin.

Any plans to support IntelliJ 13, now that is it officially out? I can't seem to be able install it on IntelliJ 13 as of now.

[2013-12-10 11:34] dant3 opened #20 "Inspection of lombok annotations say I can't use @Builder on constructor."
From lombok documentation on `@Builder` annotation:

[code]

But currently Idea with lombok plugin accepts only static method.

[2013-12-15 12:29] #19 closed, assigned to mplushnikov

[2013-12-15 22:03] dant3 opened #21 "Add @ExtensionMethod support"
Please add `@ExtensionMethod` support, it is soooo usefull together with libraries like commons-lang3 and guava.

[![Bounty](https://api.bountysource.com/badge/issue?issue_id=3817159)](https://www.bountysource.com/issues/3817159-add-extensionmethod-support?utm_source=3817159&utm_medium=shield&utm_campaign=ISSUE_BADGE)

[2013-12-31 04:26] aliubimov opened #22 "Builder support from lombok-pg"
It will be cool to have support of Builder annotation from lombok-pg library.

[2014-01-04 12:03] dant3 opened #23 "@Delegate inspection reports error"
If I'm using delegate to delegate some generic class, Idea seems to fail checking if it's parameterized methods implemented by lombok-generated code. Here is a sample:

[code]

Idea will complain that call(Void) method clashes with call(V).

Tested on Idea 13.0.1 with lombok plugin 0.7.3

[2014-02-10 16:54] torstenwerner opened #24 "fails to work in Intellij 13.0.2"
Hi,

I am getting the following stacktrace with most current Intellij and lombok plugin:

java: Can't initialize javac processor due to (most likely) a class loader problem: java.lang.NoClassDefFoundError: com/sun/tools/javac/code/TypeTags
    at lombok.javac.Javac.<clinit>(Javac.java:76)
    at lombok.javac.handlers.HandleGetter.<clinit>(HandleGetter.java:294)
    at java.lang.Class.forName0(Nati

[2014-02-10 17:08] #24 closed, assigned to nobody

[2014-02-14 23:14] ChrisKitching opened #27 "@Delegate on a type parameter doesn't fail."
Consider:

public class Example<T> {
      @Delegate private T delegator;
     ...
}

This code segment raises no warnings from IDEA, but will fail to lombokify with:

@Delegate can only use concrete class types, not wildcards, arrays, type variables, or primitives.

This restriction of Lombok should be reflected in the IDE.

[2014-02-16 03:08] ChrisKitching opened #28 "Renaming a field with a @Getter annotation prompts to rename the getter."
Consider a field such as:

@Getter private final JCTree decoratedTree;

Place the cursor on the field and push SHIFT+F6 to use IDEA's renaming function for this field.
IDEA will prompt: "A getter exists for decoratedTree - rename it as well?"

Presumably IDEA is detecting the lombok-generated getter that your plugin tells it to pretend exists.
The ideal behaviour in this case would be that your pl

[2014-02-16 16:23] #27 closed, assigned to mplushnikov

[2014-02-16 16:23] #23 closed, assigned to nobody

[2014-02-17 06:09] ChrisKitching opened #29 "Renaming a class with the @Log4j2 annotation adds extra qualification to calls."
I imagine this also applies to the other @Logger annotations,

Consider:

public @Log4j2 class Cake {
     public void doStuff() {
          log.debug("Toasters.");
     }
}

If you now use IDEA's rename refactoring to rename this class to, say, Biscuits, it alters also the log line to:
Biscuits.log.debug("Toasters");

This isn't _invalid_, but it adds a bunch of unwanted changes to the code. It'd

[2014-02-17 08:22] TimSoethout opened #30 "@Delegate works in build, but not in IntelliJ"
[code]

The above class results in a correct build, but IntelliJ complains with a red squigly under the `i` of the first import with: 'addAll(Collection<? extends E>)' clashes with 'addAll(Collection<? externds Container>)': both methods have same erasure.
I guess this is an issue since the normal build works correctly.

Thanks for fixing this.

[2014-02-17 11:28] #30 closed, assigned to nobody

[2014-02-23 02:07] toadzky opened #31 "Oops characters in @Builder properties causes fatal error"
When doing @Builder on a class, if I add the builderClassName property, it causes a fatal error if I accidentally hit space or any character that is invalid for identifiers.

Here is the stacktrace:

[code]

[2014-02-23 09:50] #31 closed, assigned to mplushnikov

[2014-02-23 15:55] #29 closed, assigned to mplushnikov

[2014-02-25 18:58] jeffkreska opened #32 "Refactor -> Extract -> Parameter Object || Change Signature broken"
I can no longer do any refactoring that changes the signature of a method with the lombok plugin enabled.  I get some sort of class cast exception in the logs.

I have created a simple project structure that reproduces the problem if needed.

[2014-03-03 20:11] toadzky opened #33 "@Builder annotation with partial implementation shows errors"
If a class has @Builder and you actually create a static inner class with same name, Lombok will still generate everything else. you can use this to provide default collections or values in your builder, or hide a particular field's setter.

Intellij highlights the @Builder annotation as problematic and won't recognize the other parts that the annotation does (static method). The error message is

[2014-03-09 19:39] #15 closed, assigned to nobody

[2014-03-10 13:06] #32 closed, assigned to nobody

[2014-03-10 14:41] henryhoen opened #34 "Lombok plugin crashes"
Since 0.8.2 the lombok plugin crashes when trying to open a large file with annotations with intellij eap version 134.1445 . Stack below:

null
java.lang.StackOverflowError
    at gnu.trove.TObjectHash.index(TObjectHash.java:186)
    at gnu.trove.THashMap.get(THashMap.java:366)
    at com.intellij.psi.impl.source.PsiModifierListImpl.hasModifierProperty(PsiModifierListImpl.java:75)
    at com.intel

[2014-03-12 09:37] novoj opened #35 "Lombok plugin crashes"
With following stacktrace:

null
java.lang.StackOverflowError
    at com.intellij.openapi.util.RecursionManager$2.markStack(RecursionManager.java:136)
    at com.intellij.util.CachedValueBase.getValueWithLock(CachedValueBase.java:196)
    at com.intellij.psi.impl.PsiCachedValueImpl.getValue(PsiCachedValueImpl.java:38)
    at com.intellij.psi.impl.source.ClassInnerStuffCache.getInnerClasses(ClassIn

[2014-03-12 10:15] #35 closed, assigned to nobody

[2014-03-12 10:17] mplushnikov opened #36 "Class cast exception"
com.intellij.psi.impl.source.JavaDummyHolder cannot be cast to com.intellij.psi.PsiJavaFile: com.intellij.psi.impl.source.JavaDummyHolder cannot be cast to com.intellij.psi.PsiJavaFile
java.lang.ClassCastException: com.intellij.psi.impl.source.JavaDummyHolder cannot be cast to com.intellij.psi.PsiJavaFile
    at de.plushnikov.intellij.plugin.provider.LombokAugmentProvider.checkImportSection(Lombok

[2014-03-12 12:26] georgydobrev opened #37 "Delombok of files included as library failes"
Cannot modify a read-only file '/Users/gdobrev/.m2/repository/de/axelspringer/ideas/pcp/pcp-api/termsandconditions-api/1.8/termsandconditions-api-1.8-sources.jar!/de/axelspringer/ideas/pcp/termsandconditions/UserTerm.java'.: Cannot modify a read-only file '/Users/gdobrev/.m2/repository/de/axelspringer/ideas/pcp/pcp-api/termsandconditions-api/1.8/termsandconditions-api-1.8-sources.jar!/de/axelsprin

[2014-03-12 18:15] #36 closed, assigned to mplushnikov

[2014-03-12 18:22] #37 closed, assigned to mplushnikov

[2014-03-12 18:42] #17 closed, assigned to mplushnikov

[2014-03-12 19:55] #34 closed, assigned to nobody

[2014-03-13 08:31] Waschnick opened #38 "Performance-Problems and errors with IDEA 11"
Refactorings are really slow since the last update (the ide is hanging for some seconds) and sometimes I get errors, like this:

![2014-03-13_09h30_01](https://f.cloud.github.com/assets/3428674/2407313/e986b87c-aa89-11e3-9be6-dac0d4c19162.png)

[2014-03-13 09:00] #38 closed, assigned to nobody

[2014-03-13 23:46] aramk opened #39 "JavaDummyHolder issue in IntelliJ 13.1 EAP"
I get this exception, but the plugin works otherwise:

`com.intellij.psi.impl.source.JavaDummyHolder cannot be cast to com.intellij.psi.PsiJavaFile: com.intellij.psi.impl.source.JavaDummyHolder cannot be cast to com.intellij.psi.PsiJavaF`

[2014-03-14 13:08] #39 closed, assigned to mplushnikov

[2014-03-17 14:32] meoyawn opened #40 "0.8.3 broke @Getter support for enums"

[2014-03-17 15:59] toadzky opened #41 "Error with @Builder"
Not sure what generated this stack trace, I opened my project and got the error. Nothing special about the builder itself that I can see.

[code]

[2014-03-17 16:03] toadzky opened #42 "Feature request: Populate Structure view"
It would be really nice to be able to see what Lombok is generating in the Structure view

[2014-03-19 08:36] #40 closed, assigned to nobody

[2014-03-25 14:29] bric3 opened #43 "Lombok plugin do not generate anymore accessor methods in IntelliJ 13.1"
Lombok plugin version 0.8.4 (at the time of this report it's the last one on the repo)
IntelliJ IDEA 13.1.1

Methods like accessors are not seen by IntelliJ.

![screenshot 2014-03-25 at 15 25 45](https://f.cloud.github.com/assets/803621/2512743/697cff70-b429-11e3-8169-06c3eb515001.png)

Nothing is reported in the Event Log. And I've seen nothing in the IntelliJ Log files.

[2014-03-30 18:45] #42 closed, assigned to mplushnikov

[2014-03-30 18:46] #43 closed, assigned to mplushnikov

[2014-03-30 18:46] #41 closed, assigned to mplushnikov

[2014-03-30 18:46] #20 closed, assigned to mplushnikov

[2014-03-31 10:42] mplushnikov opened #44 "@SneakyThrows doesn't hide exception on Intellij13"
[code]

[2014-03-31 11:43] dant3 opened #45 "Plugin v.0.8.4 and Idea 13.03 IllegalAccessError"
Hi. since update to 0.8.4 version of plugin I constantly see lots of this errors in log:

[code]

This happens then I open some file usually and, as a result, code completion and inspection is broken.

[2014-03-31 12:22] #45 closed, assigned to nobody

[2014-03-31 19:42] #44 closed, assigned to mplushnikov

[2014-04-01 18:07] andywu89 opened #46 "@SneakyThrows does not work methods which throws multi exception"
[code]

[2014-04-02 18:02] danlangford opened #47 "Feature request: support onX annotations via @_"
we have used the onX annotations in the past and would love to keep using them in intellij

http://projectlombok.org/features/experimental/onX.html

we like to use it like this:
`@RequiredArgsConstructor(onConstructor = @_(@Inject))`

this allows us to do constructor level dependency injection without writing a constructor ourself. and with more and more java libraries pushing annotations the need

[2014-04-04 18:44] bpedman opened #48 "Importing @Builder generated builder classes does not work"
For example, if I have:

[code]

This will generate an internal class named `TestBuilder`. If I then try to import it in another class like `import Test.TestBuilder` it thinks the class doesn't exist.

However, I can still import the class `Test` and assign the builder to a new variable like `Test.TestBuilder builder = Test.builder();` but I would like to just reference the builder class itself if

[2014-04-05 15:49] #46 closed, assigned to mplushnikov

[2014-05-15 13:46] TiddoLangerak opened #50 "@SneakyThrows does not work for try-with-resource statements"
**Description:**
When the resource deceleration statement of a try-with-resources block can throw an exception the `@SneakyThrows` annotation does not suppress the error.

**Tested with:**
IntelliJ 13.1.2 build 135.690
Lombok plugin 0.8.6

**Example:**

[code]

**Expected behaviour:**
IntelliJ should not show any errors.

**Actual behaviour:**
IntelliJ shows the error : `Unhandled exception from a

[2014-05-25 15:40] #50 closed, assigned to mplushnikov

[2014-05-29 14:46] ninja- opened #51 "Delegate annotation moved to experimental"
As this annotation has been moved to experimental package, using it now doesn't work in IntelliJ.

see https://github.com/rzwitserloot/lombok/commit/4996428ea12be7e381d76614e34a15ad1cc6d275

[2014-06-04 20:23] rubencepeda opened #52 "Invalid stub element type in index:"
Invalid stub element type in index:
file: file:///Users/204228/IdeaProjects/core/modules/commons/src/main/java/com/nytimes/sartre/util/SartreObjectMapper.java
psiElement: PsiField:RETURNED_ERROR_MESSAGE
requiredClass: interface com.intellij.psi.PsiClass
actualClass: class com.intellij.psi.impl.source.PsiFieldImpl
virtualFile: size:14776; stamp:519389; modCount:1401908712000; fileType:JAVA; languag

[2014-06-18 09:07] Lekanich opened #53 "Configuration keys"
Plugin doesn't support configuration keys like this http://projectlombok.org/features/configuration.html?

[2014-06-19 05:00] lfielke opened #54 "@Wither copies @Nullable annotation to generated method"
When generating the method for a `@Wither` field that is annotated `@Nullable`, the generated method is also annotated with `@Nullable`, but the method will never return null.

This is annoying as any users of the wither method get spurious nullity warnings in the IDE. The generated method should be annotated with `@NonNull`, if anything

This is also inconsistent with Lombok. Running delombok in

[2014-06-19 14:31] vzorge opened #55 "Error in Intellij version 13.1.2"
Every once in a while I get the following error in IntelliJ:
If I need to provide more info, please let me know.

Edit: Lombok is not yet used in this codebase that the error occurs in

Element: class com.intellij.psi.impl.source.PsiJavaCodeReferenceElementImpl because: invalid context: different providers: SingleRootFileViewProvider{myVirtualFile=file://C:/workspaces/trunk/moa/moa-domain/domain-m

[2014-06-24 17:22] kuporific opened #56 "Missing auto-generated modifiers on fields and class shown in the "Structure" window when using `@Value`"
When using [`@Value`](http://projectlombok.org/features/Value.html), "all fields are made private and final by default" and "the class itself is also made final by default". For example:

    @Value
    public class MyDataClass {
	Object o1;
	private Object o2;
	private final Object o3;
    }

In IntelliJ's "Structure" window (below the "Project" window by default), the class and all fields should

[2014-06-24 18:46] kuporific opened #57 "Incorrect constructors appear in "Structure" when `@Value` and `@Builder`"
Consider the following class

    @Value
    @Builder
    public class MyDataClass {
        Object o1;
        private Object o2;
        private final Object o3;
    }

If just `@Value` were used, a public, all args constructor is generated. However, since both `@Value` and `@Builder` are present, it generates an all args constructor with default access, and no public constructor is created. We

[2014-08-02 16:04] skhome opened #58 "NoSuchMethodError in IntelliJ 14 EAP"
Build: 138.1029

com.intellij.compiler.CompilerWorkspaceConfiguration.useOutOfProcessBuild()Z
java.lang.NoSuchMethodError: com.intellij.compiler.CompilerWorkspaceConfiguration.useOutOfProcessBuild()Z
    at de.plushnikov.intellij.plugin.settings.ProjectSettingsPage.isLombokAnnotationProcessingPossible(ProjectSettingsPage.java:82)
    at de.plushnikov.intellij.plugin.settings.ProjectSettingsPage.up

[2014-08-28 03:18] dearshor opened #59 "How to install this plugin in IDEA 13.1.3?"
I can NOT find this plugin in IDEA's plugin repository, and I have looked around this github project and original [GoogleCode repository](https://code.google.com/p/lombok-intellij-plugin/) , can NOT found anything about installing this plugin either. I'd like to know how to install it? Could I build it from source code and install it into my IDEA?

[2014-09-10 08:04] #59 closed, assigned to nobody

[2014-09-10 08:47] #58 closed, assigned to mplushnikov

[2014-09-10 08:52] #51 closed, assigned to mplushnikov

[2014-09-10 10:46] #22 closed, assigned to nobody

[2014-09-10 18:00] #55 closed, assigned to nobody

[2014-09-10 19:40] jeffkreska opened #60 "@Delegate in lombok.experimental is not properly handled"
[code]

Intellij doesn't show "setMetadataReader" as existing.
@lombok.Delegate tag works as expected but shows deprecated

[2014-09-13 09:50] #60 closed, assigned to mplushnikov

[2014-09-16 17:22] mmoayyed opened #61 "Support lombok.config files"
Per this thread:
https://groups.google.com/forum/#!topic/project-lombok/G0e-szr2sCk

Without support for the config system, I cannot use lombok at all. I would think this would be a very useful and important feature to add.

[2014-09-17 07:52] #61 closed, assigned to nobody

[2014-09-18 09:53] dagguh opened #63 "@Value and @Tolerate"
[code]

Lombok _will_ generate Person(int age, String name) constructor, but IntelliJ does not see that and reports an error.

[2014-09-28 15:51] #63 closed, assigned to nobody

[2014-09-28 15:51] #54 closed, assigned to mplushnikov

[2014-09-28 15:51] #52 closed, assigned to nobody

[2014-10-01 18:53] wrongdoer opened #64 "UnsatisfiableDependenciesException updating to 0.8.8-11 in Idea 11"
2014-10-01 11:46:05,288 [   5314]  ERROR - ij.components.ComponentManager - IntelliJ IDEA 11.1.5  Build #IU-117.1043
2014-10-01 11:46:05,288 [   5314]  ERROR - ij.components.ComponentManager - JDK: 1.6.0_65
2014-10-01 11:46:05,288 [   5314]  ERROR - ij.components.ComponentManager - VM: Java HotSpot(TM) 64-Bit Server VM
2014-10-01 11:46:05,288 [   5314]  ERROR - ij.components.ComponentManager - Ven

[2014-10-20 07:05] Leviter opened #65 "Stub and PSI element type mismatch in MyClass.java: stub PsiImportStatementStub[java.util.Map], AST CLASS; Element(CLASS)"
I get the following error while starting IntelliJ IDEA 13.1.5 Ultimate with Lombok Plugin version 0.8.8.

[code]

[2014-10-21 07:24] #65 closed, assigned to nobody

[2014-10-21 15:59] pakoito opened #66 "Lombok not being applied for Android Library projects in Android Studio 0.8.11"
My project has an architecture where there exist an interface which requires implementation of getter methods, methods which I generate using lombok.

Sadly, when trying to build the whole project the build process fails semisilently with a hidden error in the annotation fetching step.

:MyProj:compileDevDebugJava
Note: Some input files use unchecked or unsafe operations.
Note: Recompile with -Xli

[2014-10-23 13:18] gokhan-berberoglu opened #67 "incompatible with intellij 14"
latest version 0.8.8 is not compatible with intellij 14

[2014-10-25 19:54] MadPitman opened #68 "Renaming of fields of class annotated with @Builder or @Accessors)"
Hi,
Refactoring with @Builder and @Accessors doesn't work. if I rename a field, then the corresponding builder's method isn't renamed.

Thanks

[2014-11-08 19:18] dcapwell opened #69 "@AllArgsConstructor with generic type not compiling with 13.1.5 intellij"
Lombok version: org.projectlombok:lombok:1.14.8
Intellij Plugin: 0.8.8
Intellij: 13.1.5
Java: 8

The following doesn't compile

[code]

[code]

When I build from gradle, works just fine.

[2014-11-13 18:56] #67 closed, assigned to mplushnikov

[2014-11-25 16:06] akozlova opened #70 "Conflict resolution failed on renaming field together with its accessors"
Please see details in the initial issue https://youtrack.jetbrains.com/issue/IDEA-133357

[2015-01-03 13:46] Janmm14 commented on #69
Unfortunally I can't reproduce it right now too as the class i needed this combination is now removed and replaced.

[2015-01-05 08:23] mplushnikov commented on #69
Ok, I will close this as invalid. Feel free to reopen if you find another example.

[2015-01-05 08:23] #69 closed

[2015-01-06 14:58] mattcreaser commented on #53
Accessor prefix would be a nice-to-have.

[2015-01-06 16:31] dmiescgm commented on #53
I need support for lombok.getter.noIsPrefix

Could you add support for this parameters, too?

[2015-01-08 17:13] schmas commented on #68
This is also happening to @Setter and @Getter.

[2015-01-08 17:19] schmas opened #71 "Renaming of fields of class annotated with @Getter or @Setter"
Refactoring a field with @Getter and @Setter doesn't rename accessors methods used in other places.

[2015-01-08 22:06] nkavian commented on #53
Here is the lombok.config I am dieing to use!! Please add the missing support.

[code]

[2015-01-10 08:56] ruany commented on #21
+1
Would really love to see this in the IntelliJ plugin.

[2015-01-18 05:33] samrg472 commented on #9
+1

[2015-01-19 00:40] Parker8283 opened #72 "Stub and PSI element type mismatch"
I copied and pasted some code inside the same file. The file does not have any lombok references as this project doesn't use Lombok.

http://pastebin.com/mzrRY8i8

IntelliJ IDEA 14.0.3 EAP (IC-139.1038.6)
Lombok Plugin 0.8.9

[2015-01-19 23:58] samrg472 commented on #21
Agreed

[2015-01-20 16:25] hamen commented on #9
+1

[2015-01-21 17:16] aria42 commented on #9
+1

[2015-01-27 15:47] romanman opened #73 "Intellij 14.0.3 + gradle project"
http://i.imgur.com/Oyk7O2D.png

+ the lambook been installed as a plug-in and all
the correct checkboxes was assured.

+ looks like the build button doesn't hookup lambook in to the process

[2015-01-28 10:32] tryIO commented on #73
are you sure to have enabled the annotation processing? you can find it under Build, Execution, Deployment > Compiler > Annotation Processors

[2015-01-28 11:54] romanman commented on #73
@tryIO : thanks, it worked.

[2015-01-28 14:56] Lekanich commented on #9
@akozlova Where are you added this feature ( com.intellij.psi.augment.PsiAugmentProvider#inferType ), it 's some branch in commons repo, or not?

[2015-01-28 15:25] akozlova commented on #9
it's in master, corresponding EAP would be available shortly

[2015-01-29 18:31] danielsomerfield opened #74 "Sneaky Throws Not Correctly Detected for Anonymous Inner Class"
There is a particular case with an anonymous inner class that the plugin appears not to correctly detect that the @SneakyThrows annotation should handle the thrown exception.

    package bugReport;
    import lombok.SneakyThrows;
    import java.io.IOException;
    public class BugReport {
        private IInner inner;

        //@SneakyThrows(IOException.class)
        public BugReport() {

[2015-02-03 10:42] geipette opened #75 "Support @lombok.Builder (lombok version 1.16)"
Right now the plugin supports @lombok.experimental.Builder

lombok 1.16 deprecates @lombok.experimental.Builder and introduce @lombok.Builder

As a first it would be nice if the plugin just treated both of these annotations equally.

[2015-02-03 10:51] lexandro commented on #75
+1

[2015-02-03 12:04] Janmm14 commented on #75
:+1:

[2015-02-03 23:58] zephiransas commented on #75
:+1:

[2015-02-04 11:45] bsideup commented on #9
14.1 EAP is out. Let's rock!

[2015-02-04 12:22] hamen commented on #9
Nice!
Right now I can use:
[code]
It builds and runs properly. I still get IntelliJ complaining about incompatible types: lombok.val vs String.
Looking forward to have it nice and clean :+1:

[2015-02-04 13:24] dharrigan commented on #75
:+1:

[2015-02-04 17:15] assylias commented on #53
Thanks for the food work. Here is my wishlist :-)

    lombok.accessors.chain = true
    lombok.accessors.fluent = true

[2015-02-05 00:05] cbeams commented on #75
Just reported this same issue on the main Lombok project's tracker before realizing there was a separate repo for the IDEA plugin: https://code.google.com/p/projectlombok/issues/detail?id=780

[2015-02-05 00:09] cbeams opened #76 "No usages found for @Delegate methods"
_Carried over from original posting at https://code.google.com/p/projectlombok/issues/detail?id=779_

Repro steps:

1. Create type `A` with method `#doStuff`
2. Create type `B` with a field of type `A` annotated with `@Delegate`
3. In a main method (or elsewhere), call `B#doStuff` (the delegated method)
4. Go to the definition of `A#doStuff`
5. Notice that it shows up as an "unused" method (grayed

[2015-02-05 18:56] #73 closed

[2015-02-05 18:57] mplushnikov commented on #75
Should be fixed in the next release of plugin.

[2015-02-05 21:02] mplushnikov commented on #53
At the moment following lombok-configuration-keys were already added to plugin:
[code]

[2015-02-05 23:53] mmoayyed commented on #53
@mplushnikov great work. much appreciated. do u have a sense when the next release might be cut?

[2015-02-06 04:12] richadams8 commented on #75
:+1:

[2015-02-06 04:13] richadams8 commented on #48
:+1:

[2015-02-06 19:53] mplushnikov commented on #74
I've reimplemented @SneakyThrow hander to fix this kind of error, but it will work only in Intellij version 14.0 and greater.

[2015-02-09 20:18] samrg472 commented on #9
@hamen You can build the latest plugin and have it nice and clean :smile: There are some issues however, such as if you try assigning a val it doesn't show an error saying it is final.

[2015-02-10 13:05] hamen commented on #9
@samrg472 Thank you! I'll give it a try then :)

[2015-02-12 11:46] Mast3rPlan commented on #9
:+1:

[2015-02-12 12:00] johniak commented on #9
:+1:

[2015-02-12 15:39] jacek99 commented on #75
just got bit by this, waiting for this enhancement.

Thanks for your great work on this plugin, I would have to quit IntelliJ if not for it...

[2015-02-12 19:39] mplushnikov commented on #75
Version 0.9.0 of plugin is available now

[2015-02-12 19:39] #75 closed

[2015-02-12 19:41] mplushnikov commented on #74
Version 0.9.0 of plugin is available now

[2015-02-12 19:41] #74 closed

[2015-02-12 19:41] mplushnikov commented on #70
Version 0.9.0 of plugin is available now

[2015-02-12 19:41] #70 closed

[2015-02-12 19:41] mplushnikov commented on #57
Version 0.9.0 of plugin is available now

[2015-02-12 19:41] #57 closed

[2015-02-12 19:43] mplushnikov commented on #53
Version 0.9.0 of plugin is available now. It contains some work for this issue, feel free to test and comment it.

[2015-02-12 19:43] mplushnikov commented on #9
Version 0.9.0 of plugin is available now. It contains some work for this issue, feel free to test and comment it.

[2015-02-12 19:45] mmoayyed commented on #9
GREAT! thanks. I'll start with lombok this weekend to possibly integrate it with CAS:
https://github.com/Jasig/cas/issues/475

[2015-02-12 21:09] jacek99 commented on #75
Just tested, works as expected. Thanks!

[2015-02-13 17:30] danielsomerfield commented on #74
Looks great! Thanks for the fix.

[2015-02-14 19:51] jkwatson opened #77 "Support new @Singular annotation for @Builder collection fields"
Would love to have this; This is a great new feature in lombok, and IDEA support would be awesome!

[2015-02-17 13:34] Cilph commented on #77
+1.

[2015-02-18 08:06] asaf-romano commented on #33
Hi Michail,

Is there some workaround for hiding such stub classes from the plugin? We're using this feature from lombok for integrating with Jackson.

[2015-02-18 08:22] twillouer commented on #33
@asaf-romano I don't know if it can help you, but I discover the projet https://github.com/xebia/jackson-lombok and perhaps he can help you

[2015-02-18 11:01] mogren commented on #47
:+1:

[2015-02-18 11:18] mmoayyed commented on #53
Does not seem to work for me.

I have IDEA 14.0.3 enterprise and lombok plugin 0.9.0 installed. My project is a multi-module maven project that consists of close to 20 sub-modules. In the parent directory where the root pom is, I have added:

[code]

The plugin is enabled for the parent and all other modules. Annotation processing is also enabled for all modules. My compiler is set to use javac an

[2015-02-18 11:20] mmoayyed commented on #53
I am also not clear on when the changes are activated. If change something in lombok.config, do I have to restart IDEA? Do I have to rebuild the project?

[2015-02-18 11:26] mmoayyed commented on #53
It would also be good to be able to review which settings are recognized by the plugin. I see that I can modify fonts and colors for the config file but I have no idea which of the settings are loaded.

[2015-02-18 12:32] mogren commented on #9
:+1:

[2015-02-18 15:15] Janmm14 commented on #53
enabled annotation processing?

[2015-02-18 15:27] mmoayyed commented on #53
![untitled](https://cloud.githubusercontent.com/assets/1205228/6249959/f966683e-b747-11e4-966b-ad58749ef151.png)

Yes. See the screenshot please.

[2015-02-18 15:49] mmoayyed commented on #53
Do I have to specify the lombok jar as an explicit processor? IDE is set to pick up processors from the classpath.

[2015-02-18 18:55] mplushnikov commented on #53
You have to put your "lombok.config" files into project src directory at the moment. For example  in maven project it could be under "src/main/java".

[2015-02-18 20:16] mmoayyed commented on #53
thanks for the tip. That didn't seem to work either. Moved the config file to src/main/java for a given module, made sure javac was the compiler, closed and reopened idea and rebuilt the project. same result.

[2015-02-19 03:45] bpedman commented on #77
+1

[2015-02-19 22:42] jkwatson opened #78 "Support for constructors of @Value objects with assigned final fields"
A class defined like this:
[code]

Has a constructor:
[code]

But, IDEA shows this as an error and is expecting the 2nd (errant) constructor arg.

[2015-02-20 09:24] laurimak commented on #47
+1

[2015-02-22 10:43] mplushnikov commented on #78
Should be fixed in the next release (0.9.1)

[2015-02-22 15:38] mplushnikov commented on #33
Hello @asaf-romano,
I'm working on better support for @Builder and will add some enhancement for partially defined Builder-classes in the next version of plugin.

[2015-02-22 18:52] mmoayyed commented on #53
any other suggestions or thoughts as to why this isn't working? do you have a sample project by any chance I could try?

[2015-02-24 13:56] AlexejK commented on #47
+1

[2015-02-24 15:04] jarlesat opened #79 "Support for multiple @Builder in same java class"
If more than one @Builder annotation is present in a class - with different builderMethodName - both builder methods are reported with "cannot resolve method". Sample:

    @Data
    public class Bean1 {
        private final int id;
        private final String string;
    }

    @Data
    public class Bean2 {
        private final int id;
        private final String string;
    }

    public cl

[2015-02-24 15:15] jarlesat opened #80 "Bug in «delomboked» @Builder on static method"
Best explained with a sample:

    @Data
    public class Bean {
        private final int id;
        private final String string;
    }

    public class Test {
        private Bean bean = builder().id(1).string("1").build();
        @Builder
        private static Bean createBean(int id, String string) {
            return new Bean(id, string);
        }
    }

The «delomboked» code becomes:

[2015-02-25 14:13] jarlesat commented on #79
It seems to me that the recursion check i LombokAugmentProvider.java prevents the plugin to create PsiClass for @Builder if more than one @Builder is present.

I do not have much experience with IDEA (trying to convert from Eclipse), but I gave it a try and built the plugin locally without the recursion check in LombokAugmentProvider. It seems to work fine - identical testresults as well. As far a

[2015-02-25 19:45] TimSchlechter commented on #77
+1

[2015-02-26 15:09] jogura commented on #47
+1

[2015-03-01 12:45] #80 closed

[2015-03-01 12:46] #79 closed

[2015-03-01 12:46] #78 closed

[2015-03-01 12:46] #33 closed

[2015-03-02 09:14] jarlesat opened #81 "@Builder: buildMethod should have same throws-list as annotated static method."
The following snippet

    @Builder
    private static void foo(int i) throws Exception {}

generates a PsiLightMethod build() in VoidBuilder without a throws clause. This generates an error in IDEA for the following snippet:

    try {
        builder().i(2).build()
    } catch (Exception e) {
    }

while the one without the try-catch will not compile :-) The generated build() should have the sa

[2015-03-02 09:16] asaf-romano commented on #33
Thanks! :)

BTW, a working-most-of-the-time workaround I found for 0.9 is to extend builder class rather than providing a partial implementation, and point JsonDeserialize to that class.

[2015-03-02 11:53] zubaliy opened #82 "Abstract Class + @Delegate"
Abstract Class + @Delegate
Results in a Intellij warning/error "Class 'TestDetailBean' must either be declared abstract or implement abstract method 'getResult()' in AbstractDetailBean"
But the project builds without any problem.

Example (each class should be in separate file to reproduce the warning:
[code]

This is an example with few line of codes. And I just saw that sometimes Intellij is not

[2015-03-03 01:46] gpaul-idexx opened #83 "Getting inconvertible types error assigning new builder instance"
I'm using IntelliJ 14.0.3 and getting a red underline when attempting to assign a new builder instance to a variable. This code will run, but the IDE shows it as an error. Here's my simple code

[code]
![builder](https://cloud.githubusercontent.com/assets/1774852/6454972/80c8e2d8-c11c-11e4-8558-f76dec137d75.png)

[2015-03-03 17:01] pawelkrupinski commented on #77
+1

[2015-03-04 20:27] tleveque23 commented on #77
+1

[2015-03-07 14:42] zshamrock commented on #53
It doesn't work for me as well.
IntelliJ IDEA: 14.0.3 Enterprise
Lombok plugin: 0.9.1

I'm using `lombok.accessors.fluent`
I've tried to put lombok.config into src/main/java and src/main/lombok, no effect.

Thank you.

[2015-03-07 14:44] zshamrock commented on #77
+1

[2015-03-08 16:48] #83 closed

[2015-03-08 18:38] mplushnikov commented on #82
@zubaliy
I changed some of processing logic, but I'm not sure to correctly identified the problem.
Can you please manually install the plugin-jar and verify it in your case?

https://drive.google.com/file/d/0B98LpaspYu3eZnEyZVZuWFU4bUE/view?usp=sharing

[2015-03-09 22:05] #81 closed

[2015-03-12 15:19] zubaliy commented on #82
I installed your version, but did not help

[2015-03-13 11:26] mplushnikov commented on #82
I can't reproduce your (or similar) issue with the provided example after last changes.
What is your environment? OS,Intellij version, Java version? Do you have another example?

[2015-03-13 12:13] zubaliy commented on #82
It is difficult to reproduce. Zubaliy@gmail.com please send me an email, I will show it

[2015-03-13 12:20] mplushnikov opened #84 "Lombok Plugin does not properly find usages of @Getters & @Setters on fields with @Acccessor prefixes"
Reported by malaguy, Feb 13, 2014
https://code.google.com/p/lombok-intellij-plugin/issues/detail?id=99

What steps will reproduce the problem?
1. Create a class with a field named "_foo"
2. Add @Getter, @Setter, and @Accessors(prefix = "_") annotations to the field.
3. Use the generated getter 'getFoo()' in a line of code
3. Use the generated setter 'setFoo(value)' in a line of code
4. Right click

[2015-03-13 12:33] #84 closed

[2015-03-13 13:16] mplushnikov commented on #71
It is already working in IntelliJ 14.
Do you use IntelliJ 13?

[2015-03-13 13:32] schmas commented on #71
I already using intellij 14. I will test it. thanks.

[2015-03-13 17:14] schmas commented on #71
It's working, thanks a lot.

[2015-03-13 17:14] #71 closed

[2015-03-13 19:00] akozlova opened #85 "Support change signature refactoring for getters/setters of @Data classes"
Now IDEA treats generated methods as normal physical methods and fail in different places, e.g.
java.lang.NullPointerException
	at com.intellij.refactoring.changeSignature.JavaChangeSignatureUsageProcessor.processPrimaryMethod(JavaChangeSignatureUsageProcessor.java:740)
	at com.intellij.refactoring.changeSignature.JavaChangeSignatureUsageProcessor.processPrimaryMethod(JavaChangeSignatureUsageProce

[2015-03-13 19:57] mplushnikov commented on #85
Hello Anna,

yes sure, I can use this extension to prevent such exceptions.

At the moment I use only RenameHandler to prevent methods generated by plugin to be renamed. But there are many places, where other Intellij refactoring actions can take places, it a sore point of the  plugin:(

Thank you for your help!

[2015-03-13 21:26] akozlova commented on #85
Michail,

it would be cool if rename of getter would rename corresponding property, change signature (but only parameter type/return type) - change the type of the property, encapsulate fields - show notification/exclude fields from the list, etc. Unfortunately I can't promise that corresponding API would appear shortly, sorry, it's complicated to make changes and preserve compatibility. I'll give

[2015-03-13 23:41] GromHoll opened #86 "IDEA not see @Getter method for protected fields"
Protected field with @Getter annotation not available for using in IDEA.
But code successfully compile an run.

![annotation](https://cloud.githubusercontent.com/assets/1131266/6649054/71ecc7cc-c9f3-11e4-8ea1-c4199c89c2d0.png)
![error](https://cloud.githubusercontent.com/assets/1131266/6649056/73d0b454-c9f3-11e4-9d72-b9dc7f631b13.png)

If I set AccessLevel.PUBLIC manually to annotation it works fi

[2015-03-14 10:18] mplushnikov commented on #86
Hello GromHoll,
I can't reproduce it at the moment. Please provide full standalone example, which shows your problem. Do you use any "lombok.config" files in your project?

[2015-03-15 12:31] fedotxxl commented on #9
So val correctly works in IDEA 14.1 but doesn't work in IDEA 14. Am I right?

[2015-03-15 12:32] mplushnikov commented on #9
Yes, support (extension point) for val is providing only by IntelliJ 14.1 and later.

[2015-03-15 12:33] fedotxxl commented on #9
gr8. Thank you

[2015-03-16 10:19] pkoperek commented on #77
+1

[2015-03-16 12:07] GromHoll commented on #86
Hello,
No, I don't use any lombok.config in my project.
Error not reprodused on my work PC.
I'll check it on my home computer (where I found it) in the evening.

[2015-03-16 18:05] GromHoll commented on #86
It was reproduced on my home PC, but was fixed after reindex project.

Thanks for your responce.

[2015-03-16 18:05] #86 closed

[2015-03-17 11:47] mragab commented on #77
+1

[2015-03-17 14:58] schmas opened #87 "Getting "Cannot resolve symbol <builder class>" at import statement"
I'm using IntelliJ 14.0.3 and getting an error when trying to import a Builder class. An the type is not recognised on code. I thought that issue #83, would resolve, but I compiled the 0.9.2 milestone to test it, but it doesn't work at import statement. I can resolve by declaring all builder type declaration when using Class.Builder, and not importing.

For example:
That give an error.
[code]

And

[2015-03-17 16:30] mplushnikov commented on #87
I think it is duplicate of #48

[2015-03-18 12:37] vbanaitis opened #88 "Delegating to class with generics using @Delegate annotation"
Delegating to interface with generics return type causes intellij to report class cast problem from Object class.
Maven build project without problems.

Sample project: https://github.com/vidmantasbanaitis/intellij-lombok-samples/tree/master/lombok-delegate-inteface

class with issue: MyWorkerTest

[2015-03-21 18:49] wibbo opened #89 "IntelliJ + Lombok + Eclipse Compiler?"
Hello

Is it possible to use the lombok-intellij-plugin togehter with the eclipse compiler in IntelliJ?

I've search aground but haven't found any information.

Thanks for your great work!

[2015-03-21 20:20] mikesmiffy128 commented on #89
This plugin only changes how IntelliJ interprets the code. The compiler logic is still handled by Lombok itself, so there should be no problem there at all :+1:

[2015-03-29 15:33] SupaHam opened #90 "Renaming a field with different case doesn't rename getter."
Hey, whenever I try to rename a field, which has a getter generated by Lombok for it, to the same name but with different letter casing, such as myPlayer -> myPLAYER, this doesn't trigger lombok to rename the generated getters. Now, I think this is more of an IDEA bug, since IntelliJ is what prompts you to rename the getters.

I'm hoping Lombok might have a solution to this bug and squash it.

Exa

[2015-03-31 09:26] Hejwo opened #91 "Automaking project with java 1.6_045 fails"
Hello,
i've got problems with automatic building of project with jdk 1.6_045.
Here is my test example repo : https://github.com/Hejwo/LombokPluginApp .
When i'm building project with Maven (JAVA_HOME set to jdk 1.6_045. it works fine) also similar project witch we develop in our team in Eclipse compiles without problems. But when I use IntelliJ and make with same jdk it fails. Here is my StackOver

[2015-03-31 10:01] mplushnikov commented on #91
Hello Hejwo,

I don’t use java6 anymore, so a can’t help you. With Java7 or Java8 I can compile and build  your project with Intellij 14.1 without any problems.

What is you Intellij version? You can also update your build jdk.

[2015-03-31 15:58] Hejwo commented on #91
Hi,
thanks for quick response.
I use newest IntelliJ 14.1.

Well... main problem is that our project is really old and we can't upgrade to newer jdk's. It works only under 1.6 due to deprecated code.
Linked above project on GitHub is just an example to issolate the error.

A lot of our developers use Eclipse and they have no problems. Only few people use IDEA and they all have same problems.

[2015-03-31 16:05] mplushnikov commented on #91
You can use jdk7/8 and use source/target parameter 1.6 to compile your project to be compatable with Java6 on Runtime, is it not an option for you?

[2015-03-31 16:16] Hejwo commented on #91
Unfortunately not :(.
I've tried it allready. Lombok annotations are working but project does not compile because of some old stuff...

[2015-04-03 07:21] askoning opened #92 "@Data and @Wither don't play together"
import lombok.Data;
import lombok.experimental.Wither;

@Data
public class Person {
	private String ssn;
	private String name;
	@Wither private String phone;
}

The @Wither is marked with a "Compilation will fail: no constructor found".
The .withPhone() method is not recognised in the intellij editor, but compiles correctly.

[2015-04-03 10:39] RodrigoQuesadaDev commented on #77
+1

[2015-04-03 11:10] RodrigoQuesadaDev opened #93 "IntelliJ unable to resolve constructor when using @Builder and @Value together"
Hi, I just found this issue:

![lombok_bug_1](https://cloud.githubusercontent.com/assets/5355932/6981488/98388520-d9bf-11e4-89a7-6f5b5e2fde23.png)

IntelliJ version: 14.1.1
Lombok plugin version: 0.9.1

[2015-04-03 17:39] thaibui commented on #89
I am having the same problem. Intellij + Eclipse Compiler + Lombok doesn't compile because of unable to understand generated getter methods. Do you have any idea why?

You can make a simple test by using the @Data annotation, use the object's setter in the code and compile the code. The Eclipse compiler will say that "getSomething()" not found, while the regular "javac" compiler works just fine.

[2015-04-05 08:29] dsebban commented on #89
I have the same issue , eclipse compiler in IntelliJ  is used by TDDers to speed junit test , the Lombok plugin does not work with it

[2015-04-05 11:42] #93 closed

[2015-04-05 13:54] mplushnikov commented on #92
Just improved @Wither support a little bit, but in your example you need constructor (like with @AllArgsConstructor) to get it working with lombok.

[2015-04-05 13:58] mplushnikov commented on #90
Schould be already fixed in comming 0.9.2 release

[2015-04-05 13:58] #90 closed

[2015-04-05 14:00] #68 closed

[2015-04-06 10:50] #87 closed

[2015-04-06 11:02] #82 closed

[2015-04-06 11:07] mplushnikov commented on #64
It looks like a problem with IntelliJ self. I can't reproduce it with newer versions of IntelliJ like 14 or 13. Maybe you can try to update your installation.

[2015-04-06 11:07] #64 closed

[2015-04-06 13:07] mplushnikov commented on #9
Basic support available with plugin version 0.9.2 and IntelliJ 14.1

[2015-04-06 13:07] #9 closed

[2015-04-07 14:58] askoning commented on #92
@Data generates the constructor for me. The code compiles (and runs) correctly.

[2015-04-07 15:29] j-walker23 commented on #77
+1

[2015-04-07 17:15] j-walker23 commented on #77
Can anyone here explain how to add this manually for now, please?

[2015-04-07 17:18] jordanjennings commented on #77
Even though it's not fully supported by the plugin, you can actually use
the annotation and the generated method in your code. It won't autocomplete
the method name, so you'll have to manually type it and It'll show up in
red while editing the file, but your code will still run. That's been my
experience using it so far anyway.

On Tue, Apr 7, 2015 at 1:15 PM, John Walker <notifications@github.com

[2015-04-07 20:02] j-walker23 commented on #77
Hey, thanks for your response, appreciate it. I should have worded my question in a way that actually made sense.

What i wanted to ask is if there is a way to manually add that part, really meaning just duplicate what the builder is doing so all of the pseudo errors you mentioned won't show up. And so my colleagues don't lose their minds : )

[2015-04-08 05:00] j-walker23 commented on #77
I just ended up writing a custom one. Using the other awesome annotations i was able to write the builder with @Singular functionality with very little code. Thanks lombok and plugin people!

[2015-04-08 09:49] bsideup commented on #21
Hey @mplushnikov,

Could you please pay a little bit of your attention on this feature? It's more than 2 y.o. and impact of it is huge.

Thanks!

[2015-04-08 14:24] mlaccetti opened #94 "Delombok on a project causes a StackOverflowError"
Attempted to remove the @Log (and friends) annotations from a project (top-level, not a src directory), and got the following:

[code]

Please note that the BaseDelombokHandler:71 error is repeated ad nauseum, since that is apparently the cause of the stack overflow.

[2015-04-08 15:40] RodrigoQuesadaDev commented on #48
+1

[2015-04-08 15:41] RodrigoQuesadaDev commented on #77
+1

[2015-04-08 16:24] RodrigoQuesadaDev opened #95 "Fluent Setter Override Error"
Hello, I found an error when overriding a fluent setter:

![lombok_bug_2](https://cloud.githubusercontent.com/assets/5355932/7049714/f50e9786-ddd8-11e4-8df7-cb01d2d309d0.png)

IntelliJ shows that the method is already defined.

Thanks in advance!

[2015-04-08 20:28] rcaval opened #96 "@Value and @Wither not playing well together"
The issue I'm facing is that `@Wither` seems to require `@AllArgsConstructor` to be recognized by the IDE. If I only have `@Value`, which already creates a meaningful contructor it doesn't work properly.

The bellow code compiles fine, but IntelliJ keeps complaining about it. Same occurs if I add `@RequiredArgsConstructor(access = AccessLevel.PRIVATE)` in order to restrict my constructor visibilit

[2015-04-08 20:38] RodrigoQuesadaDev commented on #95
Same problem with Getter.

[2015-04-09 11:16] addedsparkle commented on #53
It would be great if the plugin could pick the config file up from the project directory. I have a multi-project gradle build and if the lombok.config file is in src/main/java then it doesn't build. We have to have two copies of the config file, one in src/main/java for the plugin and one in project root dir for gradle.

[2015-04-10 04:53] dmiescgm commented on #53
+1 to @addedsparkle

[2015-04-10 14:18] RodrigoQuesadaDev opened #97 "Two constructors being shown when using @Builder and @AllArgsConstructor together"
Hello, I just found this other bug:

![lombok_bug_3](https://cloud.githubusercontent.com/assets/5355932/7089545/e92c5246-df59-11e4-8164-ccee5a961451.png)

In this particular case, it should only show the private constructor and therefor not autocomplete the constructor outside this class and show it as being available for package-wide use.

Thanks,

[2015-04-10 19:12] mplushnikov commented on #92
Ok, I now understand your issue!

[2015-04-10 20:16] mplushnikov commented on #92
Please check your example. It doesn't generate any constructors at the moment, because none of your fields is final and @Data generates only @RequiredArgsConstructor per default.

[2015-04-10 20:23] mplushnikov commented on #94
What is your IntelliJ version?

[2015-04-10 20:39] mlaccetti commented on #94
14.1.1, OS X

[2015-04-11 00:01] seanf opened #98 "Plugin crash: Please change caller according to com.intellij.openapi.project.IndexNotReadyException documentation"
Plugin crashed when opening a project, with this exception: provider: `de.plushnikov.intellij.plugin.provider.LombokAugmentProvider@684b5a7c`: Please change caller according to com.intellij.openapi.project.IndexNotReadyException documentation

IntelliJ IDEA: 14.1.1
Lombok plugin: 0.9.2

	com.intellij.openapi.project.IndexNotReadyException: Please change caller according to com.intellij.openapi.pro

[2015-04-12 01:51] abeketovski opened #99 "@Data annotation not recognized in IntelliJ 14.1.1 with JDK8"
Just installed v0.9.2. Annotation processing is enabled. "Enable Lombok plugin" checkbox is checked as well.

After restarting IDE, reloading the project and rebuilding annotation still shows as "Cannot resolve symbol".

IDE: IntelliJ IDEA 14.1.1
JRE: 1.8.9-b132 amd64

[2015-04-13 08:34] writzx commented on #47
+1

[2015-04-13 12:23] beihaifeiwu commented on #77
+1

[2015-04-14 01:55] jkwatson commented on #77
@j-walker23 Are you saying you have changes to the plugin that make it work? Or a separate plugin? Either way, I'm sure a pull request with the changes to this project would be greatly appreciated!

[2015-04-15 09:02] nhekfqn commented on #53
+1 to @addedsparkle and @dmiescgm (running IDEA 14.1.1 and lombok plugin 0.9.2) I have a few modules and have to copy lombok.config to src/main/java folders of each module. This is biggest issue with pluging for me at the moment, hope you'll put it on top of your todo list.

Btw, I checked the pluging about 6 months ago and it was totally unusable for me at that moment. With the latest version of

[2015-04-15 15:01] dnoggle commented on #77
+1

[2015-04-15 15:31] enigma11 commented on #84
I have a similar issue. I use **@Data**, **@Accessors(fluent = true)** on class level (no field annotations used) and I am unable to refactor when I am on the method name, i.e. in the above example it would be m.foo(1). Is this a limitation, a bug or my usage error?

[2015-04-15 19:27] loolooyyyy commented on #98
This started happening after the latest update to OpenJDK on fedora. Do you think it's related? (probably just an accident!)

[2015-04-16 12:55] ractive opened #100 "java.lang.AssertionError: Stub and PSI element type mismatch"
I get those AssertionErrors quite a lot lately:

[code]

[2015-04-17 00:40] rick-kilgore opened #101 "@SneakyThrows causes incorrect errors in IntelliJ 14"
I haven't been able to update my lombok plugin for several versions, because every time I do, it incorrectly marks catch clauses as impossible.  Here is an example that captures the gist of what my code looks like:

    @SneakyThrows
    private void hideIt() {
        try {
            itThrows(true);
        } catch (IOException e) {   // <=== IntelliJ flags this catch as an error
            e.

[2015-04-17 06:56] j-walker23 commented on #77
@jkwatson I wish i was saying that. I ended up just writing the class manually, but with using 20 other lombok annotations it really ended up being very short anyway.

I am a big time Java noob and am forced into doing full stack because all of our backend devs left. I wouldn't even know where to start with a PR. If i was that cool you guys would be the first to know!

[2015-04-21 14:40] scruffyfox commented on #53
Is there any ETA on support for this, especially accessor prefixes? Implementation of this for config files would literally make my teams life so much easier

[2015-04-22 13:58] smmckay opened #102 "IntelliJ error report: Please change caller according to com.intellij.openapi.project.IndexNotReadyException documentation"
provider: de.plushnikov.intellij.plugin.provider.LombokAugmentProvider@ef3d607: Please change caller according to com.intellij.openapi.project.IndexNotReadyException documentation
    com.intellij.openapi.project.IndexNotReadyException: Please change caller according to com.intellij.openapi.project.IndexNotReadyException documentation
        at com.intellij.util.indexing.FileBasedIndexImpl.a(File

[2015-04-23 07:45] novoj opened #103 "Lombok plugin should tell developer that old lombok.jar is used on classpath"
I suspect IntelliJ Idea plugin that it causes weird errors if old lombok jar is located on classpath. It would be very nice if Lombok plugin would notify me when I use old (and deprecated) JAR version on classpath (usually in Maven/Gradle config).

This would propably prevent a lot of problems develpers run at.

[2015-04-25 15:09] fedotxxl opened #104 "@Delegate: idea doesn't know that geter is used by @delegate"
Suppose I've got class `A` with getter `getData`. Class `B` delegates some calls to `A`. Some method calls `(new B()).getData()`. If I open `A` and try to find usages of `getData` (`alt`+`f7`) IDEA will not find anything + `getData` will be grey (which means it's not used)

I think it makes usage of `@Delegate` pretty dangerous (in case of refactoring). Can you fix it?

[2015-04-25 21:08] mplushnikov commented on #102
Duplicate of #98

[2015-04-25 21:08] #102 closed

[2015-04-25 21:12] mplushnikov commented on #103
How would you want to define "old" version? Is it anything != current version, or version - x releases?

[2015-04-26 07:54] novoj commented on #103
Ideally any version that is incompatible with used IntelliJ Idea plugin. I'm only guessing, but I've experienced weird IntelliJ errors and index corruptions when I had lombok 1.14.2 jar on classpath and 0.9.2 version of the IntelliJ plugin.

Is it possible that there are some dependencies between versions of IntelliJ plugin and JAR on project classpath? Or I was just guessing wrong?!

[2015-04-26 08:01] #95 closed

[2015-04-26 08:01] #96 closed

[2015-04-26 08:01] #97 closed

[2015-04-26 08:01] #98 closed

[2015-04-26 09:33] #101 closed

[2015-04-26 09:33] mplushnikov commented on #101
Should be fixed in the next release 0.9.3

[2015-04-26 09:34] mplushnikov commented on #98
Should be fixed in the next release 0.9.3

[2015-04-26 09:34] mplushnikov commented on #97
Should be fixed in the next release 0.9.3

[2015-04-26 09:34] mplushnikov commented on #96
Should be fixed in the next release 0.9.3

[2015-04-26 09:35] mplushnikov commented on #95
Should be fixed in the next release 0.9.3

[2015-04-26 09:36] mplushnikov commented on #104
This is duplicate of #76 .

[2015-04-26 09:36] #104 closed

[2015-04-26 09:39] mplushnikov commented on #100
What are your IntelliJ and JDK versions? OS?

[2015-04-26 16:11] WonderCsabo commented on #77
:+1:

[2015-04-27 09:58] twilek opened #105 "val sometimes fails to be parsed correctly"
I pretty frequently gets red underlines in our code with "Incopatible types"-errors when I'm using val. This happens very often when we use IntelliJ:s refactoring tools (for example extract variable). It seems like the plugin mix up the variables in the methods bacuse the "Incopatible types"-errors says it expects another type used in the same method, here is an example:

    @Test
    public void

[2015-04-27 19:10] rcaval commented on #96
Great. Just got it.

[2015-04-28 01:02] schmas opened #106 "Not compiling Enum when has @AllArgsConstructor."
After updating plugin for 0.9.3.14 on Intellij 14, I can't compile my Enum's that has @AllArgsConstructor on it.

[2015-04-28 07:01] virtualmarc opened #107 "SerializerNotFoundException"
After the last Update the following Error occoured when starting IntelliJ:

[code]

Plugin Version: 0.9.3.14

[2015-04-28 07:06] virtualmarc opened #108 "Getter/Setter wrong after last Update"
Since the last Update to Version 0.9.3.14 the getter and setter are wrong.

I have Attributes like this:

[code]

Lombok generates this Getters and Setters:

[code]

The last Version of this Plugin did the same.

Since the Update the Plugin shows this Getters and Setters which are wrong:

[code]

This causes auto completion to not correctly work and IntelliJ to mark all Getter and Setter Calls as

[2015-04-28 17:14] #106 closed

[2015-04-28 17:16] schmas commented on #106
Sorry about this issue. It was something corrupted in my "workspace". I deleted my ".IntelliJIdea" and everything started to work again.

[2015-04-28 18:12] mplushnikov commented on #108
This will be fixed in the next release (0.9.4)

[2015-04-28 18:30] mplushnikov commented on #107
What is your IntelliJ version? Do you use some EAP version? Can you "Invalidate Caches" and verify it still occur?
It looks like a bug in Intellij itself...

[2015-04-28 20:57] mplushnikov commented on #100
Looks like duplicate of #72

[2015-04-29 19:11] #108 closed

[2015-04-29 19:11] #100 closed

[2015-04-29 19:12] #72 closed

[2015-04-30 06:33] virtualmarc commented on #107
I'm currently using IntelliJ 14.1.2 (Stable Channel).

I'm trying to reproduce this. Happened directly after I updated to 0.9.3.14 and restarted.

[2015-04-30 10:15] twilek commented on #105
Here is a case how I can reproduce this every time I try.
Add the following code to a test class:

    import lombok.Data;
    import lombok.val;
    import org.junit.Test;
    import org.modelmapper.ModelMapper;

    import static org.hamcrest.MatcherAssert.assertThat;
    import static org.hamcrest.Matchers.is;

    public class MyTest {

        private final ModelMapper mapper = new ModelMappe

[2015-05-02 11:19] WonderCsabo opened #111 "@Builder on constructors/methods is not recognized in Android Studio"
It seems the plugin does not recognize the `@Builder` annotation on constructors. That works similarly to `@Builder` on static methods.

[code]

[2015-05-02 11:28] mplushnikov commented on #111
Can't reproduce any errors, Builder on constructor is supported.
What is your environment? What kind of error do you see?

[2015-05-02 11:31] mplushnikov commented on #99
Can't reproduce any errors with @Data. Do you have some examples?
Can you verify it again with last Intellij and plugin version? What is your lombok version?

[2015-05-02 11:33] WonderCsabo commented on #111
I a using Android Studio 1.2, which is based on IntelliJ 1.2.
[code]
This codes gets an error in the editor, because the `builder()` static method is not generated. Also *Refactor* -> *Delombok* does not shows the `@Builder` annotation is enabled.

Finally looking at your source code, i only see `BuilderProcessor` and `BuilderMethodProcessor` but no `BuilderConstructorProcessor`.

[2015-05-02 11:38] mplushnikov commented on #111
Constructor is a special case of method, there are no need for extra processor.
I have to look on Android Studio, with IntelliJ there are no problems.

[2015-05-02 12:51] #92 closed

[2015-05-02 13:14] WonderCsabo commented on #111
I see. It seems `@Builder` on static methods are not working either.

[code]

I imported the original project to IntelliJ, and it worked well.
However, my college working on the same project does not experience this in AS.

I also tried this on a brand-new AS installation, and i can still repro. :disappointed_relieved:

[2015-05-02 13:41] mg6maciej commented on #111
Just tried it on AS 1.2 with the latest lombok plugin and have no errors shown in the IDE.

`Test.builder().a(6).build();`

Works with both `@lombok.Builder` and deprecated `@lombok.experimental.Builder`.

[2015-05-02 13:47] mplushnikov commented on #111
What is your OS? Windows/Linux/MacOs?

[2015-05-02 14:02] WonderCsabo commented on #111
@mplushnikov i am not sure this question is pointed to me, but i am using Windows 8.1 x64 (my collegue has the same setup).

[2015-05-02 14:33] mplushnikov commented on #111
I can reproduce it with fresh installation of Android Studio also.
Strange error, AS can not determine fully qualified name of the annotation, what breaks the plugin.
You can try a workaround: replace @Builder with fully qualified name "lombok.experimental.Builder"/"lombok.Builder" for example.

[2015-05-02 16:02] WonderCsabo commented on #111
Thanks, i can verify that your workaround fixes the problem.

Any idea why is this happening? Should we raise a ticket against AS? And why @mg6maciej and my collegue cannot repro. :confused:

[2015-05-02 16:06] mg6maciej commented on #111
I can also reproduce it. I may have used FQCN when switching between experimental and main version.

[2015-05-02 16:20] mplushnikov commented on #111
I am not quite sure, it looks like a problem with recursive calls during resolution of class hierarchie. I have changed search for annotation, it should be a little bit more stable now.

[2015-05-03 12:48] WonderCsabo commented on #111
Thanks for the fix! I will test this as soon as you publish a version with that change.

[2015-05-04 12:54] Lekanich opened #112 "Stackoverflow. (rename field and accessors)"
Idea throwed this exception when I renamed field with @Getter annotation and pressed button "rename accessors".
Maybe it's Idea bug?

I attached piece of log.
[code]

[2015-05-05 15:48] dnnoggle commented on #77
Is there any rough planned date for 0.10.0?

[2015-05-06 19:39] mrcritical commented on #77
+1

[2015-05-07 11:54] tlinkowski commented on #21
+1
@ExtensionMethod hugely improves readability of complex manipulations, e.g. on strings - instead of local variables or very deep nesting we can have simple method call chain.

[2015-05-07 19:17] noobxgockel commented on #21
[![Bountysource](https://www.bountysource.com/badge/issue?issue_id=3817159)](https://www.bountysource.com/issues/3817159-add-extensionmethod-support?utm_source=3817159&utm_medium=shield&utm_campaign=ISSUE_BADGE)

Just for the giggles and testing i added a 10 bounty :)
Maybe this will motivate the developer ^^

[2015-05-08 13:50] jmisur commented on #89
Working solution: http://stackoverflow.com/questions/24006937/lombok-annotations-do-not-compile-under-intellij-idea/30125507#30125507

[2015-05-13 00:54] jordanjennings commented on #47
+1 this would be an awesome feature to have

[2015-05-13 04:29] DHuckaby commented on #21
+1, this would be an awesome addition.

[2015-05-18 15:47] fathersson opened #113 "Intellij IDEA throws an exception with Spark in the project"
Bad annotation in repository!: Incorrect annotation '@org.spark-project.guava.annotations.GwtCompatible'
com.intellij.util.IncorrectOperationException: Incorrect annotation '@org.spark-project.guava.annotations.GwtCompatible'
	at com.intellij.psi.impl.PsiJavaParserFacadeImpl.createAnnotationFromText(PsiJavaParserFacadeImpl.java:171)
	at com.intellij.psi.impl.PsiElementFactoryImpl.createAnnotationF

[2015-05-18 20:58] #113 closed

[2015-05-18 20:58] fathersson commented on #113
That seems to be the issue with build process of spark, not the lombok plugin.

[2015-05-21 06:41] aquator commented on #47
Hi, can we have an estimate on this? The issue is more then a year old, and I can see only +1-s. I am not familiar with IDEA plugin system, can it be done at all?

[2015-05-22 10:08] thomaseizinger commented on #21
+1, Please add this feature to the plugin.

[2015-05-22 10:45] haisi commented on #47
+1

[2015-05-22 12:34] vicmosin commented on #48
+1, really drives crazy...

[2015-05-22 16:07] mrcritical commented on #48
+1

[2015-05-26 07:21] rcoedo commented on #77
+1

[2015-06-02 20:44] JWGmeligMeyling commented on #99
Have seen some errors from time to time with `@Data` as well. Switching to `@Getter` works fine.

Plugin: v0.9.4.14
IntelliJ: 14.1.3
Java version: 1.8.0_20, vendor: Oracle Corporation
Apache Maven 3.3.1 (cab6659f9874fa96462afef40fcf6bc033d58c1c; 2015-03-13T21:10:27+01:00)
OSX 10.10.3

[2015-06-02 20:52] txsmith commented on #99
This happens to me too, right after I save a class annotated with @Data, the IDE gives no warnings. However, when I start editing another file, the warnings reappear and I have to manually save all my annotated classes again to suppress the warnings. Using @Getter or any other annotation does not work for me.

Ubuntu 14.04
Plugin version 0.9.4.14
IntelliJ: 14.1.3 build 141.1010
JDK 1.8.0_45 Oracle

[2015-06-03 21:37] WonderCsabo commented on #111
Do you plan to release 0.9.5? I really need this feature. I tried to build the plugin myself, but i failed both from IntelliJ and by ant. Needles to say, i do not have expereience of IntelliJ plugins. :disappointed: So actually the proper build instructions would also help.

[2015-06-10 08:05] vicmosin commented on #47
Is there are some news regarding this topic? 0.9.4 still has this issues, not compile errors, just warnings, but still annoying.. With `@Getter(onMethod=@__({@Id, @Column(name="unique-id")}))` the same problems. Give us some response please regarding the state of this issue. Thanks!

[2015-06-17 14:00] tom-bell opened #115 "@Getter annotation functions not recognised in latest Android Studio preview (1.3 Preview 5)"
As of Android Studio preview 1.3, methods generated with @Getter and @Setter annotations are not recognised. This could be due to the recent changes under the hood for IntelliJ (C++/C support from Clion) which I think is based off IntelliJ 14.2?

[2015-06-17 21:37] naddeoa opened #116 "@Builder - Builder class can't be found without a static import"
I'm on IntelliJ CE and I'm seeing a lombok plugin bug. If I have this class

[code]

I get an error when I try to use it from another class

[code]

However, if I change the import to a static import, it works just fine:

[code]

I'm switching from Eclipse and there was no issue using the normal imports there. Also, I'm not sure if it makes a difference but in the Structure View, the generated bui

[2015-06-20 09:55] mplushnikov commented on #116
This looks like duplicate of issue #48 and should be fixed in the next release 0.9.5.

[2015-06-20 18:44] RodrigoQuesadaDev commented on #53
Support for accessor prefix configuration would be very helpful.

[2015-06-21 13:37] fedotxxl opened #117 "Sometimes it works / sometimes doesn't"
Most of features (`@Slf4`j, `@AllArgsConstructor`, `val`, `@Getter`, `@Builder` etc) sometimes work / sometimes don't - IDEA can't resolve method. Manual resaving source file temporary fixes the problem.

This makes hard to use Lombok - it's easier to generate getters/constructors than have troubles with IDE.

[2015-06-21 16:11] Janmm14 commented on #117
did you enabled annotation processing in the settings?

[2015-06-21 16:12] fedotxxl commented on #117
Yes, it's enabled - source code are correctly compiled

[2015-06-24 21:43] fedotxxl opened #118 ""Invalid stub element type in index:" exception"
IDEA 14.1.1
Plugin 0.9.4.14

[code]

[2015-06-24 21:55] Sheigutn commented on #21
+1, please add this.

[2015-06-25 18:30] jbatte47 commented on #53
+1, I am writing field names with a different convention in files enhanced by lombok versus other files, which makes my eye twitch. Really looking forward to `lombok.accessors.*` support in IDEA.

[2015-06-26 18:28] spencergibb commented on #77
+1

[2015-06-27 18:17] fedotxxl opened #119 "builder: IDEA doesn't rename builder method when field is renamed"
I've got class with `@Builder` and `name` field. When I rename field `name` to `title` `.name(..)` is not renamed into `.title(..)`

[2015-06-29 16:36] mikedias commented on #113
I have a similar problem, but with the `@org.spark-project.guava.annotations.Beta` annotation.
@fathersson, do you solve your problem?

The stacktrace:

Bad annotation in repository!: Incorrect annotation '@org.spark-project.guava.annotations.Beta'
com.intellij.util.IncorrectOperationException: Incorrect annotation '@org.spark-project.guava.annotations.Beta'
	at com.intellij.psi.impl.PsiJavaParser

[2015-06-29 19:22] fathersson commented on #113
Nope, has just forgot about it. Intellij Idea throws an exception once in a while. But other than that - it works fine. It's not even visible. At least most of the time.

[2015-06-29 20:33] mikedias commented on #113
Sad... This exception happens with me all the time... The exception warning is very annoying to me... Perhaps is there a way to fix in the plugin?

[2015-06-29 22:42] fathersson commented on #113
Yeah, me too, but it seems to be not appear on top of everything on my screen, although counter at the right corner is increased. That's at least what I see. I do not have event log opened. So it doesn't both me much.

[2015-06-30 21:28] #116 closed

[2015-06-30 21:28] #48 closed

[2015-06-30 21:30] mplushnikov commented on #111
Version 0.9.5 should be available now, please verify it if you can.

[2015-06-30 21:30] #111 closed

[2015-06-30 21:32] mplushnikov commented on #77
The version 0.9.5 already contains initial support for @Singular. Please verify the functionality.

[2015-06-30 21:37] mplushnikov commented on #116
New plugin version 0.9.5 is available now!

[2015-06-30 21:38] mplushnikov commented on #117
New plugin version 0.9.5 is available now, can you please verify your problem with new version?

[2015-06-30 21:41] dnoggle commented on #77
@Singular works and so does importing the builder nested class.

Thank you!

[2015-06-30 22:09] jkwatson commented on #77
Looks and works great!  Thanks!

[2015-06-30 22:49] naddeoa commented on #116
I just confirmed that the builder doesn't cause an error anymore, but I still can't click and go to its definition. Should I reopen?

[2015-07-01 06:25] mplushnikov commented on #116
Thank you! Please open new issue for "GoTo" functionality.

[2015-07-01 17:36] naddeoa opened #121 "GoTo broken for @Builder generated classes"
It looks like the "GoTo" functionality is broken for the @Builder generated classes in IntelliJ. I can't click through a builder class and be taken to the @Builder annotation.

[2015-07-02 02:51] seanf commented on #89
Thanks for the pointer, @jmisur !

[2015-07-02 11:00] mplushnikov commented on #89
Thanks @jmisur! Added this steps to the main page.

[2015-07-02 11:00] #89 closed

[2015-07-02 16:34] cdutra commented on #47
+1

[2015-07-02 20:25] danlangford commented on #47
for all those that are watching this issue please note that @Siriah has submitted a pull request that will close this. so keep your eye on this https://github.com/mplushnikov/lombok-intellij-plugin/pull/120 it could make it into an upcoming patch.  thanks

[2015-07-03 11:43] sunguangran commented on #77
+1

[2015-07-04 07:00] spencergibb commented on #77
:+1: worked great!

[2015-07-05 01:14] Janmm14 opened #122 "[occasional] on rename: cannot share data context between Swing events"
[code]

[2015-07-07 08:08] mogren commented on #53
Ah, works for me now that I saw that lombok.config has to be in src/main/java. I too wish that the plugin could pick up the settings from the base project directory like lombok does. (Right now we have to have 44 copies of our lombok.config just to rename the logging package....

[2015-07-07 08:10] mogren commented on #47
The PR seems to work for me for @RequiredArgsConstructor(onConstructor = @__(@Autowired)) on 14.1.4 Ultimate

[2015-07-07 13:33] pavel-v-chernykh opened #123 "SpinAllocator has exhausted! Too many threads or you're going to get StackOverflow."
Hello, Michail,

I've been encountering with issue in the lombok plugin during my work on the project with small amount of ```EqualsAndHashCode``` annotation usages (up to 10) on my entities.
exclude="property" and callSuper=false annotation properties are used.
I don't know which information would be helpful, so I just copied stack trace from Intellij IDEA:

[code]

[2015-07-07 20:20] tollrakesh opened #124 "Plugin doesnt work when build is done with IntelliJ"
We had a Maven project and the project heavily utilizes lombok project. Within the IDE we use the lombok plugin, so that the IDE understands the "implicit" code generated by the plugin. Everything worked fine.

Now, after converting to Gradle builds, though Gradle builds are successful, the "make project" from the IDE doesnt seem to be evaluating the results from lombok plugin anymore. It used to

[2015-07-07 20:26] mplushnikov commented on #122
Hello Jan,

can you provide more information for context? Can you describe any steps to reproduce this issue?

[2015-07-07 20:31] mplushnikov commented on #115
Can you verify it with last plugin version (0.9.5) please?

[2015-07-07 20:45] Janmm14 commented on #122
Well I did nothing special just renaming. Not always lombok fields/methods were included when I recieved that error. However intellij says I should report. I'm using Idea CE 14.1.4 and latest version of this plugin.

[2015-07-08 14:40] AlexejK commented on #53
Interesting.. According to Lombok source code it should bubble up the lookup until it gets stop bubbling configuration:

https://github.com/rzwitserloot/lombok/blob/master/src/core/lombok/core/configuration/FileSystemSourceCache.java

That seems to be starting off a file that Lombok is parsing and all the way up. Can it be that the plugin is triggering Lombok slightly differently compared to Eclip

[2015-07-10 14:34] pwfcurry commented on #21
+1, this would be a fantastically useful feature. Tests would be so much cleaner!

[2015-07-14 22:13] mplushnikov commented on #123
This should be fixed in the new release 0.9.6.

[2015-07-14 22:14] mplushnikov commented on #47
Provided PR added to new release 0.9.6 of the plugin.

[2015-07-14 22:14] #47 closed

[2015-07-14 22:15] #77 closed

[2015-07-14 22:25] mplushnikov commented on #117
I can't reproduce it after 0.9.5 any more. Will close this issue as done. Feel free to open new issue, if you find the problem again.

[2015-07-14 22:25] #117 closed

[2015-07-14 22:37] mplushnikov commented on #99
I can't reproduce it after 0.9.5 any more. Will close this issue as done. Feel free to open new issue, if you find the problem again.

[2015-07-14 22:37] #99 closed

[2015-07-15 11:37] bsideup commented on #21
@mplushnikov do you have any interest in bountysource? If so, please, set target value which you want to get for this issue :)

[2015-07-15 12:20] baracil commented on #53
According to the method `getStringLombokConfigProperty` in:

https://github.com/mplushnikov/lombok-intellij-plugin/blob/master/lombok-plugin/src/main/java/de/plushnikov/intellij/plugin/lombokconfig/ConfigDiscovery.java

The plugin seems to have its own implementation to read the global configuration.

It does not do exactly like Lombok: it starts from the folder containing the file that it is pars

[2015-07-15 12:28] daytona01 opened #125 "Support for lombok.getter.noIsPrefix"
We have a Maven Projekt in which it is necessary to get the values from the boolean properties by getProperty and not by isProperty. So we used the lombok.getter.noIsPrefix in the lombok.config file. This worked well for the compilation but  IntelliJ and the Plugin does not recognize that the boolean getProperty method exists.

[2015-07-15 12:54] deckerj opened #126 "IDE freezes when cursor moved to refactored setter"
If I do some refactoring (e.g. remove property foo), then my IDE freezes when I move the cursor to a call to the corresponding getter (x.getFoo()) in order to remove it.

It seems that the plugin's search for the removed getter taskes a very long time (e.g. > 60 sec).

IDEA creates numerous thread dumps, e.g.
IntelliJIdea14\system\log\threadDumps-20150715-140559-IU-141.1532\freeze-20150715-144823-

[2015-07-15 15:05] davboecki commented on #116
This still doesn't work if the Builder annotation is only present on the constructor and not on the class file. So:
[code]
works but
[code]
won't. The import still throws an error here.

[2015-07-15 17:34] mplushnikov commented on #116
Please open new issue for it.

[2015-07-15 18:15] mplushnikov commented on #53
@baracil Exactly, at the moment you have to place lombok.config file in the src/main/java or src/main/resource directory (or other source root directory).
I will check the possibility of reading of config file from the module/project directory. That would help to simplify multi-project configuration.

[2015-07-15 18:23] mplushnikov commented on #126
Can you provide some example please?

[2015-07-15 21:26] dnno opened #127 "Invalid De-Lomboked code for generic @Builder annotation"
When using the @Builder annotation on a generic class and de-lomboking the code, invalid generic type information is created.

Example:

[code]

Delomboked code:

[code]

As you can see, the generated EntityBuilder doesn't seperatly define a generic type, instead the type T from the Entity class is being used (partly) in the delomboked code. However, T is not accessible from the static context of

[2015-07-17 14:46] tom-bell commented on #115
Apologies for the delay. This appears to be fixed in the latest combination of Android Studio AI-141.2090522 and Lombok plugin 0.9.6.14

[2015-07-17 14:46] #115 closed

[2015-07-17 18:48] php-coder opened #128 "Support @Slf4j with custom logger name"
Hello,

thank you for your plugin, it's working well except only one thing: I'm using `@Slf4j` and have `src/lombok.config` with the folioing content:

[code]

With this configuration IDEA highlights LOG variable and says "Cannot resolve symbol".

[2015-07-18 18:53] JWGmeligMeyling commented on #99
Can't reproduce it either! :+1:

[2015-07-20 14:39] TheKojuEffect opened #129 "StackOverflowError in IntelliJ 14.1.4"
lombok-intellij-plugin 0.9.6.14 in Intellij 14.1.4 is giving following error in OS X 10.10.4

[code]

[2015-07-21 14:29] Sheigutn commented on #21
Is this feature so hard to implement or why did you not implement it yet?

[2015-07-21 16:05] dant3 commented on #21
@mplushnikov would love to implement this feature if you'll mentor me.

[2015-07-22 05:42] atuladhar-aman commented on #129
Having the same issue in Windows 7 64bit Professional.

I'm using IntelliJ Idea Ultimate 14.1.4
Lombok version 0.9.6.14

[2015-07-22 10:37] TheKojuEffect commented on #129
I haven't got this error after I downgraded to 0.9.4.14.

[2015-07-22 21:11] toadzky opened #130 "@XArgsConstructor don't show error when used on a subclass that requires non-empty super call"
`@XArgsConstructor`s aren't allowed when a parent class requires `super(...)`. In the example below, the second class should have an error because it won't compile.

Example:
[code]

[2015-07-22 21:31] Janmm14 commented on #130
Your example is missing the ```extends```

[2015-07-22 22:04] toadzky commented on #130
Thank you

[2015-07-24 16:09] AlexejK commented on #128
I believe this is basically due to Issue #53 . Because if you move lombok.config to src/main/java it works just fine. I'm using LOG variable in all of my projects.

There has been an issue at some point where LOG variable couldnt be resolved, but doing reload of project helped. But your issue I think is due to incorrect locaiton of lombok.config file.

Ideally Issue #53 should be fixed and this wo

[2015-07-29 11:13] keepinmind9 commented on #129
IntelliJ IDEA 14.1.4  Build #IC-141.1532.4
Lombok version 0.9.6.14

--------------------------------------------------

java.lang.StackOverflowError
	at com.intellij.util.containers.FactoryMap.get(FactoryMap.java:52)
	at com.intellij.psi.impl.file.impl.ResolveScopeManagerImpl.getResolveScopeFromProviders(ResolveScopeManagerImpl.java:79)
	at com.intellij.psi.impl.file.impl.ResolveScopeManagerImpl.g

[2015-07-31 12:31] pkubowicz opened #131 "Report unused fields"
Suppose we have a following Idea project:

    @Value
    public class LombokWithUnused {
        String usedString;
        String unusedString;
    }

    public class Main {
        public static void main(String[] args) {
            LombokWithUnused bean = new LombokWithUnused("used", "unused");
            System.out.println(bean.getUsedString());
        }
    }

Currently with Lombok plugi

[2015-08-07 17:44] Techcable commented on #21
:+1:

[2015-08-11 19:22] michaelbannister commented on #124
Does it work if you explicitly enable Annotation Processors? I've found I have to do that (despite the readme saying that's only needed if you're using the Eclipse compiler)

[2015-08-12 07:13] novoj opened #132 "Make @EqualsAndHashCode(callSuper = true) default"
I alway revrite @EqualsAndHashCode(callSuper = false) generated by intention on @Data annotation on a POJO with a superclass to callSuper = true. I think its the more natural case than the opposite.

Would you consider changing the default settings for this intention, please?

[2015-08-18 12:13] voidmachine commented on #126
I'm afraid I cannot since the code I'm working on is closed source. I did not try to reproduce the freeze within an example project.

I tried out a fresh IDEA 14.1.4 install and removed the Settings-Folder my user's home directory.

Still, the IDE freezes with the same error when I move my cursor to a method that doesn't exist, yet.

[2015-08-18 12:22] voidmachine commented on #126
Is it possible to run an older version of the plugin within 14.1.4? Do you have and recommendations?

[2015-08-20 12:38] fxnn commented on #129
Mee, too. Somewhen freezes the whole IDE, somewhen just gets caught by IntelliJ immediately as Stack Overflow. Does *not* occur in version 0.9.4.14.

[2015-08-20 12:41] voidmachine commented on #126
It seems like this is a duplicate of #129 and vice versa.

Downgraded to 0.9.4.14 and the exhaustive search and freeze was gone.

[2015-08-21 15:57] jkwatson opened #133 "IDE Error in IDEA 14.1.4"
Got this after running some unit tests.  Nothing unusual that I know of was going on.

null
[code]

[2015-08-22 07:51] mplushnikov commented on #132
Good point!

[2015-08-27 13:53] bramklg commented on #105
We have the same issue, they seem to occur randomly in classes using the val keyword. Replacing val with object, save, and then replace object with val again solves the issue.

[2015-08-29 22:01] asaf-romano opened #134 "Add suppot for toBuilder = true"

[2015-08-31 14:31] chandrusekar47 commented on #123
Hi there,

I'm using v0.9.6.14 of the intellij plugin and still getting this issue.
Here's the stack trace:

[code]

[2015-09-01 07:54] saumitrabhave commented on #134
Is this fix planned for anytime soon?

[2015-09-01 13:48] laurimak commented on #134
+1

[2015-09-01 17:56] spencergibb opened #135 "Add support for @NoArgsConstructor(force = true)"
See change log for version 1.16.6 https://projectlombok.org/changelog.html

[2015-09-02 09:05] ractive opened #136 ""Cannot infer arguments" with @RequiredArgsConstructor"
The following code generates a "Cannot infer arguments" error in the IDE although it compiles fine:
[code]

![cannot-infert-argument](https://cloud.githubusercontent.com/assets/783861/9627153/7a0831a2-5162-11e5-9553-c0e3919248ed.png)

[2015-09-02 09:07] krzysztof-osiecki commented on #21
+1 would be awesome

[2015-09-02 10:02] ractive commented on #136
BTW: The same with @AllArgsConstructor

[2015-09-05 22:21] sfitts opened #137 "Private visibility added by @Value not respected by IDE."
The `@Value` annotation will convert all the fields of a class to private.  However, inside the IDE these fields retain their explicitly given visibilty (meaning that it doesn't show a compilation error if you attempt to directly access them).  When you actualy complile the code the error is show, but not prior to that point.

[2015-09-07 15:25] grossws opened #138 "Plugin isn't activated for dependencies when current project doesn't use lombok"
I have library with lombok in classpath in `provided` scope, so library is built, auto-complete works fine and source jar for library contains lombok annotations etc.

I create project without lombok in `compile` or `provided` scope and add library mentioned above as dependency auto-complete for getters & setters works fine. But when I navigate to library source, IDEA cannot resolve getter & sette

[2015-09-08 06:53] Janmm14 commented on #138
In that case you maybe want to add/create the delomboked sources jar

[2015-09-09 14:10] grossws commented on #138
It can be used as a workaround but looks a little weird. If another dependent project use lombok I'll have lombok annotations in one part (project itself) and delomboked/generated code in another (library).
Or have two produce two library versions: for use with lombok-enabled dependent projects and for use with all others.

[2015-09-10 17:43] trothwell commented on #134
any official response to this?

[2015-09-11 09:16] m-manu commented on #21
:+1:

`@ExtensionMethod` is a huge value addition to this plugin.

[2015-09-11 13:09] vbarhatov commented on #21
@mplushnikov, do you have any plans about `@ExtensionMethod`?

[2015-09-16 15:30] pinhead commented on #134
+1

[2015-09-19 16:09] Janmm14 opened #139 "No serializer registered for stub: ID=3907, externalId:null; parent stub class=null"
Issue occurred while opening a project.

[code]

[2015-09-24 03:24] Sartner opened #140 "Code complet not work"
I'm using IDEA 14.1.4 with lombok plugin 0.9.6

I can compile the project successfully.
But code completion not working and  sorce code still red

![112](https://cloud.githubusercontent.com/assets/1697173/10064762/ace04de6-62ae-11e5-8a62-728b09f4417c.png)

[2015-09-24 03:26] #140 closed

[2015-09-24 09:54] saganas commented on #134
Is the support fro toBuilder is going to be added into IntelliJ plugin any time soon?

[2015-09-25 09:45] Hodkinson opened #141 "Plugin on 14.1.5 seems to have issues with @Value annotation"
Use of constructor of below class compiles from cmd line, not in IDE.

[code]

Error:(25, 28) java: constructor Greeting in class demo.Greeting cannot be applied to given types;
  required: no arguments
  found: java.lang.String,java.lang.String,long
  reason: actual and formal argument lists differ in length

[2015-10-01 03:49] gilbertg commented on #134
+1

[2015-10-01 08:52] theigl commented on #134
+1

[2015-10-02 11:23] GloomyFolken opened #142 "IDE highlights val as an error if it had reparsed code before the line was completed"
Intellij IDEA reparses code to highlight errors 300 ms after the last character was typed (this delay can be changed in Settings -> Editor -> General -> Autoreparse delay). If user stops typing after something like "val foo =", IDE will reparse code and highlight val. However, val still will be highlighted after the line is completed. So, the only way to use val is to increase autoreparse delay.
!

[2015-10-06 06:33] punkratz312 opened #143 "Support UtilityClass"
Hi Michail,

first of all thanks for the nice plugin, it´s really nice.

I noticed that the UtilityClass Feature isn´t supported ATM.
How long would it take to support this nice feature?
I know its experimental (ATM), but it seems to be stable and we use it as well.
(https://projectlombok.org/features/experimental/UtilityClass.html)

Looking forward & Best Regards
Vincent

[2015-10-06 16:15] Sheigutn commented on #143
I'm currently trying to implement it and going to make a pull request once I'm finished.

[2015-10-06 21:25] Sheigutn commented on #143
So, I added basic support for the annotation now:
https://github.com/Sheigutn/lombok-intellij-plugin/commit/13b8665112744936e301f1480d3e6ba430bbf799
The only thing is: I can't add the static modifier while the elements are generated cause I'm not on the event dispatch thread... Maybe @mplushnikov himself can help?

[2015-10-07 06:07] Punkratz312 commented on #143
@Sheigutn oh wow great, thank you very much. Hopefully @mplushnikov will help you.

[2015-10-08 19:21] jkwatson opened #144 "Find usages on field should find usages of builder/wither methods"
It would be fantastic if the IDEA find-usages worked with `@Builder` and `@Wither` classes, and the fields in them.  There is currently no easy way to find the builder/wither usages of the fields without doing a text search through a project.

[2015-10-08 20:50] ericjy commented on #134
+1

[2015-10-12 10:03] Hodkinson commented on #141
Looks like for some reason the annotation processing had been switched off again in the IntelliJ preferences - would be really useful if the plugin could report/recommend this if they are not switched on!

[2015-10-12 10:03] #141 closed

[2015-10-12 14:20] alexandervikstrom opened #145 "Overriding builder() method for @Builder shows false compilation error in Intellij"
When overriding the builder() method for the sake of setting default values to a builder, intellij complains:

`'MyBuilderBuilder' is not public in 'path.to.my.package'. Cannot be accessed from outside package.`

[code]

However, the code compiles and runs just as expected.

[2015-10-13 14:54] Hypernation commented on #134
+1

[2015-10-14 17:40] looztra opened #146 "Compilation fails with Intellij 14.1.5"
Context:
- Intellij 14.1.5
- Lombok plugin: 0.9.6.14

Issue:
- everything is fine in the editor view :
  - no warning
  - lombok processing is fine (for instance, @Getter produces usable getter in other class, ...)
- but compilation fails (build project/compile class) as if the annotation processing is not taken into account in the compile phase

Sample class:

[code]

The logs:

[code]

[2015-10-14 21:09] Janmm14 commented on #146
Did you enabled annotation processing in the options of intellij?

[2015-10-15 05:51] looztra commented on #146
Yes, with or without it, same failure result.

[2015-10-15 08:15] slnowak commented on #145
+1, had similar problem few months ago, I thought it's already fixed.

[2015-10-15 08:16] pitaatip commented on #145
+1, could you fix it in the next release?

[2015-10-15 13:21] tlinkowski commented on #21
@mplushnikov, right now 3 of 7 Lombok experimental annotations (`@Delegate`, `@Accessors`, `@Wither`) are supported in your plugin.

Could you, please, give us some feedback about `@ExtensionMethod` support? Is it planned, is it possible/hard to implement, don't you like the idea, or do you wait till it moves out of Experimental?

[2015-10-15 13:59] regnarock commented on #134
+1

[2015-10-15 14:02] regnarock commented on #145
+1, Currently facing the same issue

[2015-10-16 10:43] drusin opened #147 "@FieldDefaults(makeFinal = true) and bitwise operators produce an error message"
This is fine:

[code]

This compiles and runs but produces an error message when looking into the class:
[code]

Same with this:
[code]

It looks like the compiler does not see that the fields are final when checking bitwise operators.

[2015-10-16 20:25] bvanberg commented on #134
+1

[2015-10-16 20:50] johkelly commented on #134
+1

[2015-10-19 09:13] orange-buffalo opened #149 "Idea cannot generate another constructor when @NoArgsConstructor is used"
Assuming we have a class:
[code]
Try to generate a constructor with `field` argument (`Code -> Generate -> Constructor`). Error message `Constructor already exists` appears.

![image](https://cloud.githubusercontent.com/assets/4532247/10573746/0d16fa5a-7652-11e5-9cfd-60b43240b1e7.png)

If you execute the same action with manually written no-args constructor, Idea opens a dialog to select fields to

[2015-10-19 12:19] Janmm14 commented on #149
An issue, for now you can either type yourself or use ```@AllArgsConstructor```

[2015-10-19 12:34] orange-buffalo commented on #149
Btw, I believe the following issue is also related to this.

When one has a class with `@Getter`:
[code]
and tries to generate a constructor, Idea inserts the no-args one without a dialog to choose fields to initialize in a constructor.

[2015-10-20 15:51] mplushnikov commented on #146
What is your jdk version? Are you using javac or eclipse compiler or something else?

[2015-10-20 16:01] mplushnikov commented on #143
Thank you Florian, I  will look on your code next days. Transparent changing of modifiers of existing fields is unfortunately not possible in IntelliJ at the moment

[2015-10-20 16:01] mplushnikov commented on #137
Transparent changing of modifiers of existing fields is unfortunately not possible in IntelliJ at the moment.

[2015-10-20 16:53] Sheigutn commented on #143
@mplushnikov Yeah, I also found that out. Maybe it would be possible to add a feature request to IntelliJ that lets plugin developers transparently remove PsiFields and PsiMethods from the ClassInnerStuffCache? (PsiAugmentProvider works by adding its PsiElements in this class)

[2015-10-20 19:28] looztra commented on #146
[code]

[code]

[2015-10-21 10:58] Janmm14 commented on #137
Theoretically could you check all field accesses and issue an error yourself at that point?

[2015-10-23 13:39] alabax commented on #105
I have issues when I declare two vals one after another, second val does not get resolved and when hoevered says "Unknown class: 'java.lang.Object'".

[2015-10-23 13:45] alabax commented on #105
Ok, now I see 1 case why it happens for me. I declare `val foo = someObj.someMethod()` and there is no import for the returned type of that method. Idea cannot suggest a balloon to import thingy because in its view no new unseen type was defined (`val` is already there).

[2015-10-25 17:35] mplushnikov commented on #21
Unfortunately at the moment it's not possible to add support for "@ExtensionMethod". IntelliJ does not provide extension points to be able to implement this function.

[2015-10-25 17:41] mplushnikov commented on #146
Can you verify it with oracle jdk please?

[2015-10-25 17:41] bsideup commented on #21
@mplushnikov I think we can push it ( how it was with `val` ). Can you describe which extension points do you need?

[2015-10-25 18:19] mogren commented on #105
Same here, annoying bug for sure. Some devs switched to Eclipse because of this issue.

[2015-10-25 19:20] mplushnikov commented on #147
Unfortunately, this cannot easily be fixed:( It's the same problem, like in #137 and #56. There are no extension points in Intellij, to change the visibility of existing fields or methods.

[2015-10-25 20:40] Techcable commented on #143
+1 a very useful feature

[2015-10-26 16:39] drusin commented on #147
Thank you for the insightfull comment :)

[2015-10-27 14:38] fluxroot commented on #145
+1

[2015-10-27 15:21] jnaous opened #150 "com.intellij.util.IncorrectOperationException: Incorrect annotation '@org.spark-project.guava.annotations.GwtCompatible'"
This pops up once in a while, not sure why. On Idea 14.1.4.
[code]

[2015-10-27 23:36] rlcintra commented on #123
Please reopen this issue. I am also experiencing the problem with version 0.9.6.14.

[code]

[2015-10-28 10:38] looztra commented on #146
ok, this is weird. I checked twice on 2 distincts setup before submiting the issue. And it failed on both setup.
On top of that, someone reported the same issue (twitter).

And now, on one of my 2 setups...it works.

I will check on my second setup tonight.

stay tune

[2015-10-30 18:38] AsturaPhoenix opened #151 "Builder issues with Accessors"
Builder with Accessors doesn't seem to work right when the field has consecutive caps after the prefix.

Example code:

    import lombok.Builder;
    import lombok.Getter;
    import lombok.experimental.Accessors;

    @Accessors(prefix = "m")
    @Builder
    @Getter
    public class Example {
        private final String mAField;

        public static void main(String[] args) {
            bui

[2015-10-30 19:50] AsturaPhoenix commented on #151
Accessors also seems to interfere with field overriding within the builder:

    import lombok.Builder;
    import lombok.experimental.Accessors;

    @Builder
    @Accessors(prefix = "m")
    public class Example {
        public static class ExampleBuilder {
            private String field = "default";
        }

        private final String mField;
    }

reports "Variable 'field' is already d

[2015-11-01 22:10] mplushnikov commented on #149
I hope, I found a cause of the problem. Fix should be available in the next release.

[2015-11-01 22:11] mplushnikov commented on #146
Any new results? It should simple work:)

[2015-11-01 22:17] mplushnikov commented on #133
Hmh, look like a bug in IntelliJ. Can you reproduce it often or in the last IntelliJ version? If it was occurred only once, I will not investigate it at much.

[2015-11-01 22:40] mplushnikov commented on #132
Should be available in the next release!

[2015-11-01 22:53] jkwatson commented on #133
I haven't seen it again. I wouldn't worry about it.  Feel free to close this.

[2015-11-01 23:28] mplushnikov commented on #130
I'll add new validation for this behavior in the next release!

[2015-11-01 23:29] mplushnikov commented on #133
Ok, thank you!

[2015-11-01 23:29] #133 closed

[2015-11-02 07:54] novoj commented on #132
Thanks!

[2015-11-02 10:42] orange-buffalo commented on #149
Great, thank you! Looking forward to the new release :)

[2015-11-02 11:04] Janmm14 commented on #146
@looztra

[2015-11-02 13:20] mplushnikov commented on #142
@akozlova Maybe you can give me a hint, how we can solve this kind of problem?

[2015-11-02 13:55] akozlova commented on #142
That's a core problem, caused by cached type inside PsiTypeElementImpl. We are working on it. Thanks

[2015-11-02 15:31] mplushnikov commented on #142
Great! Do you have some issue number to track the progress in youtrack.jetbrains.com?

[2015-11-02 16:05] mplushnikov commented on #129
Can you provide some example of your code please?
Or give at least some more information, like what could be 'special' in your code? Which lombok annotation do you use? What is the structure of the classes where you see such problems? Did you use some refactoring features of the Idea at the moment of your problem?

[2015-11-02 16:06] mplushnikov commented on #126
Can you give some more information, like what could be 'special' in your code? Which lombok annotation do you use? What is the structure of the classes where you see such problems?

[2015-11-02 16:07] mplushnikov commented on #123
Can you provide some example of your code please?
Or give at least some more information, like what could be 'special' in your code? Which lombok annotation do you use? What is the structure of the classes where you see such problems? Did you use some refactoring features of the Idea at the moment of your problem?

[2015-11-02 16:12] akozlova commented on #142
There are a number of exceptions, youtrack issue is welcome

[2015-11-02 18:38] mplushnikov commented on #142
Ok, I'll create some issues in Youtrack.
https://youtrack.jetbrains.com/issue/IDEA-147214

[2015-11-02 18:41] mplushnikov commented on #105
It looks similar to https://github.com/mplushnikov/lombok-intellij-plugin/issues/142
Maybe both have same cause.
I also create issue for Jetbrains: https://youtrack.jetbrains.com/issue/IDEA-147214
Maybe we get some help:)

[2015-11-02 18:57] looztra commented on #146
It works on one setup and still doesn't work on my second setup. Still
investigating what is the difference in the environment.

Is it working for everybody else?

On Mon, 2 Nov 2015, 12:04 Jan Marian Meyer <notifications@github.com> wrote:

[2015-11-02 19:08] mplushnikov commented on #146
All my colleagues doesn't have any problems with compilation (both MacOs and Windows)
Please verify your compiler settings and the option "Enable annotation processing". If somebody has any issues, this was the root cause.
![image](https://cloud.githubusercontent.com/assets/1204509/10891304/69f764e8-819d-11e5-81e5-0384fd1cb70c.png)

[2015-11-02 23:04] rlcintra commented on #123
I remember having several IDEA windows opened at the time the issue happened. I am not sure exactly what project caused the issue. I couldn't reproduce the issue so far. I will try again a couple of time and if it happens I will add a comment here with all information I can gather.

[2015-11-03 20:19] mplushnikov commented on #129
I just added some code to cache created PsiElements in the plugin. It can help to solve problems like this.
Can you please test attached version of the plugin in your environment and tell your impression (better, worse or same exceptions)?  I can't reproduce any of your exceptions and still need more information.

https://github.com/mplushnikov/lombok-intellij-plugin/releases/download/test/lombok-

[2015-11-03 20:19] mplushnikov commented on #126
I just added some code to cache created PsiElements in the plugin. It can help to solve problems like this.
Can you please test attached version of the plugin in your environment and tell your impression (better, worse or same exceptions)?  I can't reproduce any of your exceptions and still need more information.

https://github.com/mplushnikov/lombok-intellij-plugin/releases/download/test/lombok-

[2015-11-03 20:19] mplushnikov commented on #123
I just added some code to cache created PsiElements in the plugin. It can help to solve problems like this.
Can you please test attached version of the plugin in your environment and tell your impression (better, worse or same exceptions)?  I can't reproduce any of your exceptions and still need more information.

https://github.com/mplushnikov/lombok-intellij-plugin/releases/download/test/lombok-

[2015-11-03 23:20] rlcintra commented on #123
Will do. Is it compatible with IntelliJ 15? I was planning to upgrade it later today.

[2015-11-04 05:03] TheKojuEffect commented on #129
I am using the attached plugin and will let you know if I see any errors.

Thanks!

[2015-11-04 08:13] fxnn commented on #129
First, I upgraded to the most recent regular plugin version to see if I still experience the error. If I do so, I'll use your test version.

[2015-11-04 10:28] enr74 opened #152 "toBuilder() method not recognised by Intellij"
According to Lombok's documentation:

but Intellij / lombok plugin doesn't recognise the toBuilder() method, even it works at runtime.
[code]
The unit test works fine, but the toBuilder() method is highlighted in red:
[code]

I'm using  Intellij IDEA 15 CE, JDK 1.8.0_11, Lombok Plugin v. 0.9.6.14

[2015-11-04 11:41] tomaszganski commented on #152
it's duplication of #134, which will be resolved in next release

[2015-11-04 14:13] mplushnikov commented on #152
Closed as duplicate of #134
Thank you Tomek!

[2015-11-04 14:13] #152 closed

[2015-11-04 23:12] jsurls commented on #146
I had the same issue as @looztra .. enabling annotation processing fixed it for me

[2015-11-05 20:39] depsypher opened #153 "IntelliJ produces Diamond-Inspection warning when specifying generic type on val declaration"
Would love to be able to write code like this...
```val example = new ArrayList<String>();```

without getting warnings like this:
```Explicit type argument String can be replaced with <>```

[2015-11-06 08:10] Punkratz312 commented on #143
Hopefully IntelliJ helps us, to make this nice feature working.

[2015-11-06 11:45] Sheigutn commented on #21
I wonder how Jetbrains handles Kotlin's extension functions in its plugin. Shouldn't this be possible somehow?

[2015-11-06 16:03] bsideup commented on #21
@Sheigutn extension methods exists in a few languages like Groovy, Kotlin and others. BUT in Lombok you have to modify the way how Java language is being handled - this is a reason why it's tricky. But guys from JB are always open for proposals and we just need to determine which API we need for extension methods

[2015-11-06 16:19] Sheigutn commented on #21
@bsideup So there's no feature request on youtrack yet?

[2015-11-06 16:20] bsideup commented on #21
we're trying to figure out required set of APIs first
On Fri, 6 Nov 2015 at 6:19 PM Florian <notifications@github.com> wrote:

[2015-11-06 17:26] Sheigutn commented on #21
Oka, thanks for the info :)

[2015-11-12 09:21] myndworks opened #154 "@Slf4j LOG variable is not recognised by Intellij IDEA 15"
Lombok intellij plugin works pretty well, except it does not recognise the LOG variable. (It marks it in red and thinks the variable is undefined.)

But compiles and runs ok.

Not a show stopper rather annoying. A fix would be appreciated.

Thank you for your help.

[2015-11-17 08:18] pmiddend opened #155 "Call "inline call to getter" does not work correctly with @Getter"
Instead of replacing the getter with a direct call of the instance variable a new line is created with an uninitialized local variable of the instance variables class.

Example:

    @Getter
    static String foo = "foo";
    public static void main(final String[] args) {
        final String bar = getFoo();
    }

becomes

    @Getter
    static String foo = "foo";
    public static void main(fin

[2015-11-18 15:35] Zteve opened #156 "Exception in @Singular handling"
Just typed in:

[code]
and changed the `R` (which is a generic parameter) to `? extends R` and get the following, repeatedly:
[code]

[2015-11-18 17:34] Zteve commented on #156
Apologies for the heavy repetition there.  :-)

[2015-11-23 08:09] tomaszganski commented on #154
Hi, I am using intellij 15 with @Slf4j and for me everything works fine.  In my case help me **File > Invalidate Caches / Restart > Invalidate and Restart**

[2015-11-23 09:31] myndworks commented on #154
Hi, thanks. I did that still has no luck.

Intellij is still complaining about LOG variable. Other lombok annotations
are working fine.

:-(

Kind Regards
Senthil.

On Mon, Nov 23, 2015 at 7:09 PM, Tomek <notifications@github.com> wrote:

[2015-11-23 15:50] amisarca opened #157 "Intellij fails to infer type for constructor defined with @RequiredArgsConstructor"
I have the following class:
[code]

When I am doing
[code]
Intellij thinks that the types of bar are ```<Object, Exception>``` instead of ```<Type, SomeException>```, and also if I call ```bar.call()```, it gives an error that Exception is not caught (even though SomeException is; ```bar.call()``` will raise the exception provided as a generic type). Compiling and executing both work fine without

[2015-11-23 22:05] Janmm14 commented on #154
Double check annotation processing and lombok enabled in project settings.

[2015-11-24 18:21] mr opened #158 "val causes intellij to show an invalid error when used alongside an anonymous class"
val is supposed to infer the type of a value and make it final, so you should be able to use them in anonymous classes. In fact you can do this! Intellij doesn't believe you though:

    public class ValTest {
        public void doSomething() {
            val foo = new Foo();
            val bar = new Bar();
            foo.setBazListener(new BazListener () {
                @Override

[2015-12-02 16:53] fahran opened #159 "Evaluate Expression - No such static method error on generated methods"
Using the Expression Evaluator in Intellij 15.0.1 (#IU-143.382) - I'm unable to evaluate generated methods (specifically those generated by the @Builder annotation).

Quick example:
[code]
Running `Cat.builder()` in the Evaluator raises a No such static method error. Autocomplete, however, does suggest the builder() method as an option!

Did I miss something, or is this a bug?

[2015-12-03 10:30] Zteve opened #160 "StackOverflowError on opening project"
I've no idea what produces this, but it occurs as soon as I open my project:
[code]
This looks like a logic error in lombok processing.

[2015-12-03 15:51] zaretskyy commented on #147
+1

[2015-12-04 01:19] SharpMan opened #161 "Annotation processing is not supported for module cycles."
you should think about it

[2015-12-04 15:41] Lekanich opened #162 "@Data bug with constructors"
Or maybe this is @RequiredArgsConstructor bug.
Less words more examples.

[code]

Default constructor in class A is non existent but IDEA doesn't react on it.

[2015-12-04 23:53] #161 closed

[2015-12-09 11:25] nicity commented on #139
This is a problem in IDEA https://youtrack.jetbrains.com/issue/IDEA-142246

[2015-12-09 19:21] mikeholler commented on #145
Also having this issue.

[2015-12-09 19:39] mikeholler opened #163 "Overloading of Builder Method not Handled Correctly"
I have this class,

![screenshot from 2015-12-09 13 33 09](https://cloud.githubusercontent.com/assets/1164112/11696350/6e24b6b2-9e79-11e5-8c88-e56868aa14fc.png)

I should be able to create a new builder instance without error here. In fact, delombok shows that I can (Builder is at the package level, so I should be able to access it in my static method).

[code]

Furthermore, when I try to *use* th

[2015-12-09 19:48] looztra commented on #146
Just tried with the oracle JDK: same problem.

Tried with a fresh install of intellij 15: same problem (by fresh I mean I cleared the .IntelliJIdea15 directory in my home).

(and yes, annotation processins is enabled)

[2015-12-09 20:01] looztra commented on #146
ok, I think I get it, and I'm a bit ashamed I did not realize earlier that it was related to the project that I used for testing.
I used the same class during all my tests, but not always in the same project :(

The answer is that in the non working project there are these dependencies:

[code]

Without these dep, it works, with it does not work and generates the errors mentionned in my bug report

[2015-12-11 11:25] jemshit commented on #53
With Android Studio 1.5 and Plugin v 0.9.6.14, IDE can't find `lombok.config`. I've put it under `/src/main/java`.

[2015-12-11 11:53] darenegade commented on #53
Of course it's the same with IntelliJ 15. Neither ```src/main/java``` nor ```src/main/resource``` works for me.

A nice side effect is, if i put the ```@Accessors``` annotation above my class, the class structure changes to the configured behavior. Unfortunately it has no effect on the generated  Class files.

[2015-12-11 12:23] AlexejK commented on #53
This is interesting. Im using 15.0.2 (and was using both EAP and prod versions of 15) and everything works fine for me. Naturally I had to ensure that In Preferences -> Other Settings -> Lombok plugin, I have "Enable Lombok plugin for this project" enabled.

I have Lombok Plugin 0.9.6.14 installed as well.
You do have Lombok as dependency in the project (in pom.xml or build.gradle), right?

[2015-12-11 12:34] jemshit commented on #53
Of course, otherwise it won't compile

[2015-12-11 12:38] AlexejK commented on #53
I have customised logger variable name that is being found by the plugin. Could it be that this is an issue of some configurations not being applied properly rather than lombok.config not being found?

[2015-12-11 12:41] jemshit commented on #53
@AlexejK  i am trying to use
`lombok.anyConstructor.suppressConstructorProperties = true` which does not work

[2015-12-11 13:03] darenegade commented on #53
I have set the Maven dependeny for Lombok in my pom.xml and the plugin is enabled for the project.
(Lombok Plugin 0.9.6.14 and IntelliJ 15.0.2 )

I my  ```src/main/resource/lombok.config``` i have set the property ```lombok.getter.noIsPrefix = true```. But i was mistaking with the ```@Accessors``` annotation. I rebuilded my project and lombok created all Class Files with no Is-Prefix.
But the Clas

[2015-12-11 13:49] AlexejK commented on #53
From what I know, `@Accessors` is the experimental feature in Lombok, and the IntelliJ plugin has to support each and every feature to make sure IDEA understands it.

I would suggest that you create a separate issue for this specific functionality.

[2015-12-11 13:52] AlexejK commented on #154
By default, Lombok generates a variable called `log` (lower-case). If you placed a new variable name in lombok.config, you have to make sure it's in the `src/main/java`. Lombok itself will search higher up in te structure, however IDEA plugin currently has a limitation where it searches only up to `default` package.

Could it be that you are hitting that specific issue?

[2015-12-11 20:10] relgames opened #164 "null java.util.ConcurrentModificationException"
Happened in IDEA 15.0.2

[code]

[2015-12-12 23:12] sg-ad opened #165 "Can't correctly resolve multiple @Builder methods in same class having partial implementations"
It seems that the plugin doesn't correctly process the `@Builder` annotation when it's applied to a second method in the same class _and_ there are already partial implementations of the builders.

Here are two screenshots of the same class with the Builder definitions inverted:

<img width="885" alt="person_builder" src="https://cloud.githubusercontent.com/assets/10407766/11764364/bfa4b734-a0fa-1

[2015-12-14 19:15] jpboudreault commented on #160
Having the same problem here!

[2015-12-15 14:11] JessevanAssen opened #166 "IntelliJ doesn't find unused declaration when @NoArgsConstructor, @RequiredArgsConstructor or @AllArgsConstructor annotations are used"
I have the following class:

[code]

IntelliJ doesn't warn me that `UNUSED` is not used. The "Unused declaration" inspection also doesn't find anything suspicious. If I remove the `@NoArgsConstructor` annotation, both IntelliJ and the inspection notice that `UNUSED` isn't used.

Plugin version: 0.9.6.14
IntelliJ version: 15.0.2

[2015-12-25 01:45] nabedge commented on #143
+1 please!

[2015-12-30 23:21] dmydlarz opened #167 "IntelliJ 15.0.2 - Processor could not be initalized"
My configuration:

* Intellij 15.0.2 (#IU-143.1184)
* Lombok Plugin (0.9.6.14)
* Java (1.8.0.66)
* I've enabled both *Enable Annotation processing* in preferences & default preferences.

While starting Spock test from IntellIJ I am getting:

[code]

[2016-01-03 08:29] jimmec commented on #158
[according to this](https://github.com/mplushnikov/lombok-intellij-plugin/issues/9#issuecomment-67846608) it sounds like the inspection for final attribute of val was an intellij feature that still need to be implemented.

[2016-01-03 12:14] jimmec opened #168 "val does not work with generic method calls as the initializer expression"
I'm creating a seperate issue for this because I think it can be fixed without work from JetBrains.

This case seems to be caused by incorrect type inference in the plugin's [ValProcessor implementation](https://github.com/mplushnikov/lombok-intellij-plugin/blob/e66bdbeafa8fa00b2af487f0ef355bcae5c915e0/lombok-plugin/src/main/java/de/plushnikov/intellij/plugin/processor/ValProcessor.java) when the

[2016-01-04 05:51] danjl1100 opened #169 ""Invalid method call expression" calling super() with enclosing type"
I'm using Android Studio v1.5.1 (with Android Support plugin v10.1.5.1).

When using the following code:

[code]

I get the following error:
[code]

The code compiles using javac v1.7.0_05, so I think that there might be something wrong with the lombok plugin.

[2016-01-04 17:00] mgriffel opened #170 "@Builder - Option "toBuilder = true" - Support"
Can you please extend the plugin to support the option "toBuilder = true" in the @Builder annotation?

(https://projectlombok.org/features/Builder.html)

[2016-01-04 17:05] mgriffel commented on #170
Sorry just checked the commit history and found this: https://github.com/mplushnikov/lombok-intellij-plugin/commit/03c381e3332f26b166a020c8d87ec86f00e6b158 :-)

When do you plan to prepare a new release?

[2016-01-04 17:05] #170 closed

[2016-01-05 02:00] Scrayos commented on #143
+1 Just ran into this aswell.

[2016-01-07 09:59] RawToast commented on #168
I am having similar issues after upgrading to the latest intellij (15.0.2), but this was working for me on the last version v14 I was using.

For example I have code using the javax.ws.rs.core.Response class using this method:
public abstract <T> T readEntity(Class<T> entityType);

Which used to work without warnings on intellij 14, but now is highlighted as en error 'Unknown class: java.lang.Obje

[2016-01-07 14:32] martypitt commented on #135
Just wondering if there's an update on this issue?  Looks like there's a branch with progress -- is it usable / releasable?

[2016-01-07 18:30] jimmec commented on #168
Yep I realized I had written code in 15.0.1 where this issue didn't occur. I wonder what changed in 15.0.2?

I still feel like a plugin change could address it since IDEA is able to do the type inference.

[2016-01-10 10:47] MarcinMilewski opened #171 "Doesn't work with intellij15, JDK8 and Maven"
After add dependency to pom, enable plugin and enable annotations, compilation with Maven fails with 'cannot find symbol ' on generated getters and setters.

[2016-01-10 20:52] mplushnikov commented on #149
Pluginversion with changes for this issue was released today

[2016-01-10 20:52] #149 closed

[2016-01-10 20:53] mplushnikov commented on #135
Pluginversion with changes for this issue was released today

[2016-01-10 20:53] #135 closed

[2016-01-10 20:53] mplushnikov commented on #132
Pluginversion with changes for this issue was released today

[2016-01-10 20:53] #132 closed

[2016-01-10 20:53] mplushnikov commented on #130
Pluginversion with changes for this issue was released today

[2016-01-10 20:53] #130 closed

[2016-01-10 20:55] mplushnikov commented on #129
New pluginversion with some changes for this issue was released today. Please verify and open new issue if the problem still exists...

[2016-01-10 20:55] #129 closed

[2016-01-10 20:55] mplushnikov commented on #126
New pluginversion with some changes for this issue was released today. Please verify and open new issue if the problem still exists...

[2016-01-10 20:55] #126 closed

[2016-01-10 20:55] mplushnikov commented on #123
New pluginversion with some changes for this issue was released today. Please verify and open new issue if the problem still exists...

[2016-01-10 20:55] #123 closed

[2016-01-10 20:56] mplushnikov commented on #112
New pluginversion with some changes for this issue was released today. Please verify and open new issue if the problem still exists...

[2016-01-10 20:56] #112 closed

[2016-01-10 21:00] mplushnikov commented on #167
It looks like a problem with lombok itself. (Similar to: https://github.com/rzwitserloot/lombok/issues/930) Please make an issue on lombok page.

[2016-01-10 21:00] #167 closed

[2016-01-10 21:02] mplushnikov commented on #164
New pluginversion with some changes for this issue was released today. Please verify and open new issue if the problem still exists...

[2016-01-10 21:02] #164 closed

[2016-01-10 21:02] mplushnikov commented on #160
New pluginversion with some changes for this issue was released today. Please verify and open new issue if the problem still exists...

[2016-01-10 21:02] #160 closed

[2016-01-11 10:13] Zteve commented on #160
Thank you. I cannot verify this, as the problem no longer occurs for me and the "testcase" is impossible to reproduce. I have not seen the problem again.

[2016-01-11 10:17] mplushnikov commented on #171
Please verify your project on command line build with "mvn clean install". If it doesn't work with maven build, then you have some other issues (nothing with intellij-plugin) and can try to ask for help by lombok community: https://groups.google.com/forum/#!forum/project-lombok

[2016-01-11 15:14] tafit3 opened #172 ""Lombok needs a default constructor in the base class" error in enum"
After updating the plugin to 0.9.7 there are errors in enum classes that use lombok annotations. The non-enum classes show no errors. There were no problems with the previous version of the plugin (0.9.6).

![lombok_needs_a_default_constructor_in_the_base_class](https://cloud.githubusercontent.com/assets/1242852/12237256/200be3f0-b87e-11e5-91b9-e3aa887804d6.png)

IntelliJ IDEA 15.0.2 (IU-143.1184)

[2016-01-11 18:47] AgentLV commented on #172
Can confirm this error. Also had this after updating to 0.9.7 from 0.9.6.
I can build the project, but I also get this error.
IntelliJ IDEA 15.0.2 (IU-143.1184)
JRE: 1.8.0_66 amd64 (Oracle Java HotSpot 64-bit Server VM), Windows 7

[2016-01-11 20:54] mplushnikov commented on #160
Thank you for information!

[2016-01-11 21:48] mplushnikov commented on #169
I think it has nothing with lombok plugin for intellij. As I see, it comes from android studio classes. I found similar issue for example here: https://code.google.com/p/android/issues/detail?id=161534
Maybe you can ask guys from android studio?

[2016-01-11 21:48] #169 closed

[2016-01-11 22:03] mplushnikov commented on #146
Interesting problem! JMH benchmark generator is based on annotation processor. It's possible, that they interfere each other.
I will close this issue now, because it seems to work now for you.

[2016-01-11 22:03] #146 closed

[2016-01-11 22:22] mplushnikov commented on #166
Please verify current plugin version 0.9.7. I think changes for other issue (#149) have fixed this too.

[2016-01-11 22:27] #124 closed

[2016-01-11 22:30] mplushnikov commented on #139
Thank you for information! I will close this issue.

[2016-01-11 22:30] #139 closed

[2016-01-11 22:33] mplushnikov commented on #107
I think this is the same issue like here: https://youtrack.jetbrains.com/issue/IDEA-142246 And should be fixed now by Jetbrains.
I will close this issue here.

[2016-01-11 22:33] #107 closed

[2016-01-11 22:44] mplushnikov commented on #118
It look like a problem in base IntelliJ, like: https://youtrack.jetbrains.com/issue/RUBY-16276, and should be fixed in last version of IntelliJ.
I will close this issue here. Feel free to open new issue, if it still occured!

[2016-01-11 22:44] #118 closed

[2016-01-12 02:21] Sangdol commented on #172
For someone who doesn't want to wait until 0.9.8 to be released,

1. Remove Lombok plugin
2. Download 0.9.6.14 from https://plugins.jetbrains.com/plugin/6317
3. Install the jar by clicking 'Install plugin from disk...'

[2016-01-12 07:22] JessevanAssen commented on #166
0.9.7 indeed fixes it, at least in the provided test case. Thanks!

[2016-01-12 07:22] #166 closed

[2016-01-12 13:42] mplushnikov commented on #142
Jetbrains guys means: It is fixed in builds 144.839, 143.708  of IntelliJ

[2016-01-12 19:38] mplushnikov commented on #165
Thank you for good description/example. I'll investigate this issue.

[2016-01-12 20:58] mplushnikov commented on #165
Found the cause of the problem and I'll provide correct behaviour in the next version!

[2016-01-12 21:03] mplushnikov commented on #163
Thank you for good description and example!

We have two separate issues here:

The second one "multiple newBuilder() methods" will be fixed in the next plugin version.

The first one "error on new Builder()" is still under deeper investigation....

[2016-01-12 21:07] mplushnikov commented on #163
Duplicate of #145

[2016-01-12 22:20] sg-ad commented on #165
Great!  Thanks!

[2016-01-12 23:18] nallar commented on #153
Issue is still present in 0.9.7.

![IDEA 15.0.2 with Lombok Plugin 0.9.7](https://i.imgur.com/q2c4Lkw.png)

sort-of-workaround is to use `@SuppressWarnings("Convert2Diamond")` or disable the inspection globally.

[2016-01-13 09:37] mplushnikov commented on #156
Good catch, thank you!
Should be fixed in the next release.

[2016-01-13 11:41] mplushnikov commented on #153
Just added some workarounds to skip Diamond-inspection on val declarations. You will be able to verify it in the next release.

[2016-01-13 11:52] mplushnikov commented on #158
Yes, it is not possible to change visibility of existing elements in Intellij at the moment. Thats why val is non final for Intellij.
Similar issue #137

[2016-01-13 15:33] mplushnikov commented on #151
The are several problems, in fact. For the first I have already implemented a solution. For the others it has yet to be found ...

[2016-01-13 17:57] #171 closed

[2016-01-14 04:45] jonathanhandoyo commented on #130
with this additional validation, the above example should be fixed like such?

[code]

but in the case where we are extending from a class inside a library?
my current problem is with enums actually. intellij reported an error

[code]

it is reporting: `Lombok needs a default constructor in the base class`.
but unlike the top example, i cannot add `@NoArgsConstructor` to the parent class.
am i app

[2016-01-14 05:32] toadzky commented on #130
does it compile and work when not in intellij?

[2016-01-14 05:34] toadzky commented on #130
I don't think adding `@NoArgsConstructor` will fix anything. The child constructor would still need to invoke it, but AFAIK lombok doesn't do that.

[2016-01-14 05:35] toadzky commented on #130
I also don't see any parent class on the enum. Did you forget to extend something?

[2016-01-14 10:02] jonathanhandoyo commented on #130
The reason i added `@NoArgsConstructor` at the `Parent` class is because the message said `Lombok needs a default constructor in the base class`. Adding `@NoArgsConstructor` made the reported error goes away.

`enum` cannot extend anything, right? internally it always extends `java.lang.Enum<E>` and abstracted with the keyword `enum`.

[2016-01-14 10:36] jonathanhandoyo commented on #130
apparently it was a new bug introduced in 0.9.7.
https://github.com/mplushnikov/lombok-intellij-plugin/issues/172
i don't think it creates compilation problem aside from the reported error.
so, i've already uninstalled 0.9.7 and installed 0.9.6.

[2016-01-14 15:49] clayreimann opened #173 "@Getter does not support noIsPrefix"
![screen shot 2016-01-14 at 9 48 40 am](https://cloud.githubusercontent.com/assets/930039/12329049/053f5c14-baa4-11e5-87b4-6190abf282e3.png)

[2016-01-14 18:41] mplushnikov commented on #173
@Getter doesn't have such value.
https://github.com/rzwitserloot/lombok/blob/master/src/core/lombok/Getter.java

[2016-01-14 18:41] #173 closed

[2016-01-14 21:17] clayreimann commented on #173
Then what are they talking about on [the website](https://projectlombok.org/features/GetterSetter.html)?

If set to true, getters generated for boolean fields will use the get prefix instead of the defaultis prefix, and any generated code that calls getters, such as @ToString, will also use get instead of is

[2016-01-14 22:05] mkochenough commented on #173
This is a key for a configuration file. This is described at https://projectlombok.org/features/configuration.html

[2016-01-15 11:03] MaartenMeersseman opened #174 "IntelliJ 15.02 + Lombok plugin 0.9.7.15 causes ClassCastException + some default hotkeys don't work anymore"
ClassCastException: com.intellij.psi.PsiArrayType cannot be cast to com.intellij.psi.PsiClassType
This is the exception that appears in the event log of IntelliJ. For some weird reason this has caused some hotkeys (f.e. CTRL + ALT + C, CTRL + ALT + M) to not work anymore. Uninstalling the plugin fixes these issues.

IntelliJ IDEA 15.0.2 (IU-143.1184)
JRE: 1.8.0_51-b16 x86
JVM: Java HotSpot(TM) Ser

[2016-01-15 15:58] mplushnikov commented on #174
Do you have a stacktrace?

[2016-01-15 16:30] MaartenMeersseman commented on #174
com.intellij.psi.PsiArrayType cannot be cast to com.intellij.psi.PsiClassType
java.lang.ClassCastException: com.intellij.psi.PsiArrayType cannot be cast to com.intellij.psi.PsiClassType
	at de.plushnikov.intellij.plugin.processor.handler.singular.SingularMapHandler.getBuilderFieldType(SingularMapHandler.java:63)
	at de.plushnikov.intellij.plugin.processor.handler.singular.SingularMapHandler.addBui

[2016-01-16 09:09] mplushnikov commented on #174
Ok, thank you! It looks like the same bug es here: #156
Should be fixed in the next release

[2016-01-16 10:16] orange-buffalo commented on #149
I've checked the new plugin version, this problem is not reproducible, code generation is working as usual.
Thank you for the fix!

[2016-01-16 14:54] MaartenMeersseman commented on #174
Thats great! Thx for the fast response :).

[2016-01-19 09:53] Lekanich opened #175 "Add support for @Tolerate for @Getter and @Setter"
From Small print:
`` If the generation of a method is skipped for this reason, a warning is emitted instead. Varargs count as 0 to N parameters. You can mark any method with @lombok.experimental.Tolerate to hide them from lombok.``
https://projectlombok.org/features/GetterSetter.html
Example:
[code]
Plugin doesn't generate setter, but lombok (annotation processor) creates it.

[2016-01-21 14:59] fahran commented on #159
As of plugin version 0.9.7.15 on Intellij Ultimate 15.0.3, this seems to be working fine now :)

[2016-01-21 14:59] #159 closed

[2016-01-21 19:47] mplushnikov commented on #175
Ok, I think you are right. At the moment plugin only look for @Tolerate by @Data and @Value processing.
I will add @Getter and @Setter handling too.

[2016-01-22 14:48] vict0r81 commented on #172
Same thing with IDEA 15.0.2 & 0.9.7.15

[2016-01-22 15:58] vict0r81 commented on #154
After update to 0.9.7.15 with IDEA 15.0.2. I've experienced almost the same issues with with @Slf4j annotations when I do 'make project' by pressing hot key Command(Ctrl) + F9, IDEA cause error:
Error:(79, 9) java: cannot find symbol
  symbol:   variable log
  location: class <classname>
And point on the line, where I have:
log.error("Error ....");

[2016-01-23 15:29] mplushnikov commented on #175
I added support for Tolerate with Getter/Setter just now. The next build of plugin 0.9.8 should contains it.

[2016-01-25 04:41] rs3vans opened #176 "Unchecked warning when using static constructor for @Data and @Value on parameterized class"
Say I have a simple `@Value` class:

[code]

When using the static method `of` to create instances, IntelliJ marks the line with an "Unchecked assignment" warning:

[code]

When compiled, there is no warning generated.

[2016-01-25 10:00] jelmo commented on #145
Also suffering from this issue.

[2016-01-25 18:58] devshorts opened #177 "Null pointer in intellij version 15.0.3"
IDEA Build #IU-143.1821

I am getting a consistent null pointer error with the following stack

[code]

[2016-01-25 19:43] RAnders00 opened #178 "@Wither and inherited properties"
Consider the following scenario:

[code]

[code]

Expected: A `withSuperProperty(String s)` is generated that creates a new object with the same inherited `baseProperty` (by using the provided constructor).

Actual: The code does not compile, since no appropriate constructor with only the parameter `java.lang.String` is found.

---

I am not sure whether this it's right to start resolving this iss

[2016-01-27 20:39] agilisticdev commented on #172
The workaround works very well. Thanks guys!

[2016-01-30 12:39] mplushnikov commented on #177
Should be fixed in the next release 0.9.8

[2016-01-30 15:13] devshorts commented on #177
Awesome, thanks! Love the plugin :)

[2016-01-31 14:10] orange-buffalo opened #180 "Low performance of @Builder analysis"
When Idea performs code analysis for the first time (file is opened after restart), it takes much time to analyze the `@Builder`.
According to the CPU profiling, `de.plushnikov.intellij.plugin.provider.LombokAugmentProvider.getAugments` is called recursively, total executions for a class with one Builder of 6 arguments is around 120k times.
![image](https://cloud.githubusercontent.com/assets/45322

[2016-01-31 14:30] mplushnikov commented on #177
Plugin 0.9.8 was released today

[2016-01-31 14:30] #177 closed

[2016-01-31 14:30] mplushnikov commented on #175
Plugin 0.9.8 was released today

[2016-01-31 14:30] #175 closed

[2016-01-31 14:31] mplushnikov commented on #174
Plugin 0.9.8 was released today

[2016-01-31 14:31] #174 closed

[2016-01-31 14:31] mplushnikov commented on #172
Plugin 0.9.8 was released today

[2016-01-31 14:31] #172 closed

[2016-01-31 14:31] mplushnikov commented on #151
Plugin 0.9.8 was released today

[2016-01-31 14:31] #151 closed

[2016-01-31 14:32] mplushnikov commented on #156
Plugin 0.9.8 was released today

[2016-01-31 14:32] #156 closed

[2016-01-31 14:32] mplushnikov commented on #165
Plugin 0.9.8 was released today

[2016-01-31 14:32] #165 closed

[2016-01-31 14:32] mplushnikov commented on #153
Plugin 0.9.8 was released today

[2016-01-31 14:32] #153 closed

[2016-01-31 14:33] mplushnikov commented on #134
Partial support is already present in plugin 0.9.7+
Plugin 0.9.8 was released today.

[2016-01-31 14:35] mplushnikov commented on #163
Plugin 0.9.8 was released today.
Problem with "multiple newBuilder() methods" should be fixed now.
Another one ("error on new Builder()") will be tracked by #145

[2016-01-31 14:35] #163 closed

[2016-01-31 14:37] mplushnikov commented on #145
Problem with "multiple newBuilder() methods" should be fixed now by plugin 0.9.8+
Another one ("error on new Builder()") is still under investigation....

[2016-01-31 14:44] mplushnikov commented on #180
Hello Bogdan!

Can you provide some code to verify this issue please?

All my own  Test-Builder-Classes are possible too small to show such dramatically performance failing.

[2016-01-31 16:12] leduold opened #181 "could you make this plugin support the @UtilityClass"
i can not find the static method which i have declared in my util class,when i use @UtilityClass in my project ..

plugin version :0.9.6.14
could you make this plugin support the @UtilityClass ?

[2016-01-31 16:18] leduold commented on #181
lombok.experimental

[2016-01-31 16:49] orange-buffalo commented on #180
Hi Michail!

I am facing this on the code base of large project. I've [prepared the simplified version of the classes](https://gist.github.com/orange-buffalo/327073f3b238643fcd42) (jaxb and mapping annotations removed). CPU profiling from ticket's description was taken during `AddressImpl` analysis.  I hope this will be enough to check the issue. If not, apparently it means that the reason of perf

[2016-01-31 17:48] mplushnikov commented on #181
This is duplicate of Support UtilityClass #143
It is not possible at the moment, I'm still investigating how to make it possible.

[2016-01-31 17:48] #181 closed

[2016-02-01 06:00] leduold opened #182 "it don not work in my project"
I have declared the annotation with the class RecepetionContext   and idea can find the constructor when i run my project it tell me this:
 Error:(21, 35) java: The constructor com.youzan.data.collector.couriermsg.pojo.RecepetionContext(com.youzan.data.collector.couriermsg.pojo.ConversationMember, java.util.ArrayList<java.lang.String>, com.youzan.platform.courier.common.MsgChannel.ChattingGroup, b

[2016-02-01 06:29] #182 closed

[2016-02-01 06:30] leduold commented on #182
i know what is wrong with me , additional vm option

[2016-02-01 09:21] leduold opened #183 "val can not work when method has Generic return"
eg:

public <T> T convertMsg(string msg, int userMid){
     return (T) callAdapterMethod(string filed1,int field2);
}

the idea tell me unknow class when i call the method above

public void test(){
         val  msg=convertMsg("123",1);
}

[2016-02-01 12:09] bryant1410 opened #184 "Linter suggests to add @EqualsAndHashCode to declare callSuper, but already overriden"
In IntelliJ (Android Studio, specifically), with `@Data` annotation and with the class inheriting from another, if `equals` and `hashCode` methods are overriden it anyway suggests to add `@EqualsAndHashCode` to declare `callSuper` attribute, but it shouldn't.

[2016-02-01 17:00] jasontrublu commented on #154
After update to 0.9.8.15 (IDEA 15.0.3) I have the same problem now. previously it was working (don't know if I had 0.9.7 or 0.9.6). Now also other annotations seems to fail, but I cannot see a pattern there

[2016-02-01 17:04] jasontrublu opened #185 "problem with @data"
Hi,

after update to 0.9.8.15 (with IDEA 15.0.3) the plugin has problems with @Data. maven has no trouble at all and it was working last week (probably with 0.9.6.15 or 0.9.7.15).  Replacing @Data via Delombok 'solves' all build problems :/

[2016-02-01 18:19] mplushnikov commented on #183
Duplicate of #168

[2016-02-01 18:19] #183 closed

[2016-02-01 21:37] mplushnikov commented on #180
I have changed a little bit, can you test provided build in your environment?
https://github.com/mplushnikov/lombok-intellij-plugin/releases/download/test_preview_issue_180/lombok-plugin-0.10.15.preview.zip

Unfortunately, I cannot reproduce bad performance on my setup. I think it can have something with your other annotations defined on Builder-classes. Can you provide more data from your project

[2016-02-01 22:30] jschaf commented on #56
Is there an issue filed with IntelliJ I can follow for this?

[2016-02-01 22:33] mplushnikov commented on #142
Looks to work very well with IntelliJ 15.0.3!

[2016-02-01 22:33] #142 closed

[2016-02-02 03:56] leduold commented on #142
@mplushnikov IntelliJ 15.0.3 has the problem too.......................

[2016-02-02 04:49] leduold commented on #168
which version will get the problem solved???

[2016-02-02 06:58] orange-buffalo commented on #180
I've tested this build, it looks very promising! The performance of the slowest class analysis is improved from 40s to 12s (with lombok plugin disabled it takes 3-4s to analyze this class).

I also sent you an email with details and profile snapshot link.

[2016-02-02 07:18] akozlova commented on #142
please provide details in IDEA's issue. Thanks

[2016-02-02 08:16] AlexejK commented on #154
Interesting. Im using `@Slfj4` and a bunch of other annotations and the latest plugin works fine. However, contrary to you, I'm on EAP 16 version.

[2016-02-02 10:38] jasontrublu commented on #185
ok, problem solved - my project setup was reset during (or coincidently around the same time of) the update, so the annotation processing was unexpectedly turned off. Sry for not checking that earlier

[2016-02-02 10:38] #185 closed

[2016-02-02 19:09] mplushnikov commented on #180
Thank you very much, I'm happy being on the right way! 40s to 12s is already huge improvement.:)
I have deeper look on your snapshot and saw that the problem was not really in Builder-processing, but in val-processing.
I hope you can, it would be really cool, if you could make new snapshot with this new build to help me figure out another bottleneck of processing.

[2016-02-03 07:02] orange-buffalo commented on #180
Yes, for sure, the performance gain is really nice!
I've made new snapshots with this build (the links are sent in the email).

[2016-02-03 20:42] mplushnikov commented on #180
Thanks! I see a lot of surprising things in your snapshots. Something that i didn't seen in my own tests before. I will try to work on some points, that should give good performance boost.

[2016-02-05 15:34] holub opened #186 "Find usages doesn't work (for example Accessors with Setter/Getter)"
"Find usage" IDE feature doesn't produce any results for fields annotated with @Getter and @Setter.

lombok plugin: 0.9.8.15

IntelliJ IDEA (Minerva) IU-144.3600.7
Build #IU-144.3600, built on February 2, 2016
JRE: 1.8.0_40-release-b127 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o

[2016-02-06 05:49] tcrayford opened #187 "vvklbndfnndrfb"

[2016-02-06 05:50] #187 closed

[2016-02-06 11:40] mplushnikov commented on #186
Please provide an example of code to reproduce this issue.
I cann't reproduce it with my simple example.
![image](https://cloud.githubusercontent.com/assets/1204509/12866474/b405910a-ccce-11e5-97d9-0701a2c086e5.png)

[2016-02-06 17:46] mplushnikov commented on #157
Duplicate of #136

[2016-02-06 17:46] #157 closed

[2016-02-06 18:57] holub commented on #186
Could you try this?

    @Getter
    @Accessors(fluent = true)
    final Password password;

[2016-02-07 08:26] mplushnikov commented on #186
Ok, thank you! Now I understand, what do you mean.

[2016-02-07 08:43] mplushnikov commented on #186
Similar Issue for Builder/Wither #144

[2016-02-07 08:44] mplushnikov commented on #76
#186
#144

[2016-02-11 16:20] thekalinga commented on #127
Hi,

Will this be fixed anytime soon?

[2016-02-11 16:57] jfftonsic commented on #56
Having similar problems. Needless to say, this is a terrible thing for lombok + Intellij users. Is there a probability for this feature to be implemented in Intellij?

[2016-02-12 11:09] vict0r81 commented on #154
Looks like I've found solution: close IDEA project, delete .idea folder and .iml files in each module, reimport project. Now I can Make project w.o. any issue (at least not with `@Slf4j` annotation).
Another solutions like change IDEA versions (checked on 14.1.6, 15.0.2, 15.0.3, 16 EAP), change lombok plugin version, upgrade lombok dependency itself, even upgrade JDK doesn't make any success resul

[2016-02-14 13:36] markalanrichards commented on #145
+1

[2016-02-15 19:21] mattiasoamz commented on #163
Hi, I'm still having this problem and I'm on plugin 0.9.8.15. If I overload the builder method (regardless of whether it has been renamed using "builderMethodName", the no args version of the method disappears. Its gone from the Structure view and I can't call it.

[2016-02-19 08:13] bannmann-incub8 opened #188 "Support @UtilityClass"
When I use Lombok's [UtilityClass annotation](https://projectlombok.org/features/experimental/UtilityClass.html), all members are automatically static. However, although the compilation works perfectly, IntelliJ complains every time I invoke any method of that class:

When I redundantly add the `static` modifier myself, the errors disappear.

[2016-02-19 08:25] mkochenough commented on #188
This is duplicate of https://github.com/mplushnikov/lombok-intellij-plugin/issues/143 and should get closed.

[2016-02-19 08:48] bannmann-incub8 commented on #188
Ah, turns out I was wrong to assume searching for "utility" would list duplicates: seems like GitHub issue search does not implement partial matching.

[2016-02-19 08:49] bannmann-incub8 commented on #143
+1

[2016-02-19 13:37] artgryn opened #189 "val and Java 8 streams."
val not recognised when using together with *.stream().*

[code]

[2016-02-19 13:42] #188 closed

[2016-02-25 15:48] rapguit commented on #143
+1

[2016-02-26 11:31] enikolas commented on #127
Hello, my team is having issues with this as well.

There is any plans on solving this soon?

[2016-03-01 15:26] vicmosin opened #190 "Support for annotations within `onX` methods"
Is it lombok's or intelliJ plugin's restrictions?

`@AllArgsConstructor(access = AccessLevel.PRIVATE, onConstructor = @__(@Builder))` seems to not work..

[2016-03-04 10:36] AlexejK commented on #190
Interesting, with this plugin and lombok `1.16.6` I'm using `@RequiredArgsConstructor(onConstructor= @__(@Autowired))` without any issues.

[2016-03-04 10:38] vicmosin commented on #190
@AlexejK yes, most of the java/spring annotations work fine. But not the lombok's one I guess.

[2016-03-04 10:43] AlexejK commented on #189
see #137 and #158 . Due to limitations in IntelliJ API val are non-final from intellij's point of view.

However your code will never work because `forEach()` is a terminal void operation. You can still access ìtem` in lambda without problems.

[2016-03-04 10:46] AlexejK commented on #190
Well it's very possible it's still a bit buggy.. I did not test if the same thing works in Eclipse, but it's worth noting that `onX` is an experimental feature.

https://projectlombok.org/features/experimental/onX.html

[2016-03-04 12:11] #189 closed

[2016-03-04 12:43] eekboom commented on #127
This is what make IDEA show an error, right?
+1 from us.

[2016-03-04 14:33] AlexejK commented on #105
To me it sounds more like a #168 issue rather than #142 ?

[2016-03-07 13:48] zalum opened #191 "Builder annotated constructors can not be found when I do a user search"
If I search for constructor usages it shows me no usages of the builder behind this constructor, even though they are
''' @Getter
public class FooObject {

    private Integer property;

    @Builder
    public FooObject(
'''

[2016-03-11 21:55] mikeholler opened #192 "Lombok 1.16.8"
Lombok 1.16.8 came out recently ([changelog]()), and its new features break this plugin in a couple ways. Below are the changes that I think will have to be added in order to support the new version. As far as I know, none of these enhancements are supported in lombok-intellij-plugin yet.

[code]

[2016-03-15 09:58] LuboVarga commented on #94
`null
java.lang.StackOverflowError
	at com.intellij.util.CachedValueBase.isUpToDate(CachedValueBase.java:128)
	at com.intellij.psi.impl.PsiCachedValue.isUpToDate(PsiCachedValue.java:71)
	at com.intellij.util.CachedValueBase.a(CachedValueBase.java:107)
	at com.intellij.util.CachedValueBase.getValueWithLock(CachedValueBase.java:214)
	at com.intellij.psi.impl.PsiCachedValue.getValueWithLock(PsiCached

[2016-03-15 10:06] LuboVarga opened #193 "Delombok all does not delombok val things"
Using delombok all is not possible for val features. https://projectlombok.org/features/val.html

[2016-03-16 12:01] AlexejK commented on #192
This does not __break__ the plugin from what I see, however there is that disconnect where the new features are not detected by the plugin. The code that was working before, should work now as well.

Am I correct in that assumption?

[2016-03-16 12:19] mikeholler commented on #192
Sorry @AlexjK. Yes, if you upgrade lombok and do not use any of the new features the plugin works just fine. I meant "break" in the sense that I assumed this plugin's goal was full support of Lombok features, and the gap between the new features and what this plugin supports cases it to (hopefully only temporarily) fall short of this goal. Definitely should have used a better word.

[2016-03-16 18:59] nullren opened #194 "Needing to add lombok.jar to classpath?"
Just wanting clarification with the README.

Following the installation instructions was not enough for me to start using lombok in my project. Ultimately, what I had to do was also do one of the following:
* through Project Structure, Global Libraries, add maven library "org.projectlombok:lombok:1.16.2", then Copy to Project Libraries
* download lombok.jar, then through Project Structure, SDKs, a

[2016-03-16 19:12] Janmm14 commented on #194
This depends on the IDE used.

[2016-03-16 19:15] Janmm14 commented on #194
I am using this while having the plugin installed, annotation processing on (using javac compiler) and lombok as a provided maven dependency.

This works for me without issues.

[2016-03-16 19:19] nullren commented on #194
I suppose this can be closed because it might just have more to do with the wonky build system I'm using more so than this plugin. Lombok is only a build time dependency and that might confuse things.

[2016-03-16 19:19] #194 closed

[2016-03-17 18:32] joke opened #195 "@Getter(lazy=true) does not reveal AtomicReference member"
Hi,

the member variable of the lazy getter is not revealed. Wherefore type of the underlying AtomicReference is not detected correctly and hence the set operating can not be resolved.

[code]

The code compiles perfectly though.

Regards
Joke

[2016-03-20 21:00] mplushnikov commented on #180
Hello Bogdan,

I was working last several days on the issue again. Now, I have added much more optimization for the slowest paths of annotation processing. As I can see in the profiler, it should be much better.
I would be very grateful if you could test the [new preview version](https://github.com/mplushnikov/lombok-intellij-plugin/releases/download/test_2_preview_issue_180/lombok-plugin-0.10.15.

[2016-03-21 16:58] orange-buffalo commented on #180
Hello Michail,

Thank you very much for your efforts!
I have checked this preview, it looks very good. The small file is processed momentary. The analysis time of the large class (with dozens of builder methods) is reduced from 12 to 4-5 sec, which is basically the processing time when plugin is disabled. I also noticed better performance while working with lombok-enriched classes, for instance fa

[2016-03-21 17:30] mplushnikov commented on #195
Hello Joke,

I think it's a very bad practice.

As you can see by [lombok documentation:](https://projectlombok.org/features/GetterLazy.html)

 I am afraid it couldn't be fixed it at the moment.

[2016-03-21 17:30] #195 closed

[2016-03-21 19:15] mplushnikov commented on #180
I'm very happy to hear it! Great, then I can save up the other ideas for performance improvement for the next time:-)
The current changes will be available in the next regular version of plugin.
Now I can focus on some other defects and improvements for the next version.

[2016-03-22 00:53] tonylpt commented on #21
:+1:

[2016-03-23 13:07] tlinkowski commented on #21
Any progress on this issue? Any decision if it'll be done or not? If yes, any chances of having at least a rough estimate when it could be done?

I'm asking because after migrating from NetBeans to IntelliJ we've got a lot of code annotated with @ExtensionMethod, and I'm wondering whether we should refactor it (so that we don't see so much red text in the editor) or be patient...

[2016-03-24 06:51] AlexejK commented on #190
By the way, do you know if it even works in Eclipse?  I'm not sure what the usecase for this type of usage is.

Less related:
Also worth noting that with spring framework specifically as of upcoming version 4.3 you will no longer need onX for constructors due to support of automatic wiring etc. But this ofc just spring related thing

[2016-03-25 11:31] mplushnikov commented on #184
I just corrected the intellij inspection for this usecase, it should be available in the next plugi verion >= 0.10.

[code]

But you will still get warning during compiling from lombok itself.
![image](https://cloud.githubusercontent.com/assets/1204509/14043501/3524d620-f285-11e5-9333-a32dde89bb29.png)
This can only be fixed by lombok authors (@rzwitserloot @rspilker ).

[2016-03-25 11:57] mplushnikov commented on #190
I think this is at first lombok restriction. You can test it simple by writing code and trying to compile it with javac. You will see an error from the compiler, like here:
![image](https://cloud.githubusercontent.com/assets/1204509/14043782/69052cb2-f288-11e5-97ed-15d5f59d090d.png)

And of course intellij-lombok-plugin can nothing support, what is unsupported by lombok itself.

[2016-03-25 11:57] #190 closed

[2016-03-25 12:49] mplushnikov commented on #178
You are right, this is impossible at the moment. This is restriction of lombok, like [here](https://github.com/rzwitserloot/lombok/issues/182)
Wither looks only for a constructor with parameters for all fields of the current class. It doesn't look for fields/constructors from the inherited classes.
Maybe you ask lombok authors (@rzwitserloot, @rspilker ) if they could make it possible. At the mome

[2016-03-25 12:49] #178 closed

[2016-03-25 12:50] RAnders00 commented on #178
Oh wow. I actually wanted to post this on the lombok tracker and not here and never noticed. Thank you for explicitly pointing that out, I would not have noticed that otherwise. Wow.

[2016-03-26 16:00] mplushnikov commented on #184
New version 0.10 of the plugin was released today and contains fixes and improvements for this issue.

[2016-03-26 16:00] #184 closed

[2016-03-26 16:00] mplushnikov commented on #180
New version 0.10 of the plugin was released today and contains fixes and improvements for this issue.

[2016-03-26 16:00] #180 closed

[2016-03-26 16:00] mplushnikov commented on #176
New version 0.10 of the plugin was released today and contains fixes and improvements for this issue.

[2016-03-26 16:00] #176 closed

[2016-03-26 16:00] mplushnikov commented on #168
New version 0.10 of the plugin was released today and contains fixes and improvements for this issue.

[2016-03-26 16:00] #168 closed

[2016-03-26 16:01] mplushnikov commented on #136
New version 0.10 of the plugin was released today and contains fixes and improvements for this issue.

[2016-03-26 16:01] #136 closed

[2016-03-26 16:01] mplushnikov commented on #105
New version 0.10 of the plugin was released today and contains fixes and improvements for this issue.

[2016-03-26 16:01] #105 closed

[2016-03-26 16:01] mplushnikov commented on #88
New version 0.10 of the plugin was released today and contains fixes and improvements for this issue.

[2016-03-26 16:01] #88 closed

[2016-03-26 16:42] mplushnikov commented on #155
I cannot reproduce it on the current version of Intellij (2016.1) and Plugin (0.10).
I only get message "Cannot perform refactoring"
![image](https://cloud.githubusercontent.com/assets/1204509/14061165/cde107b8-f379-11e5-92a7-667b9b47e37f.png)

Can you describe your steps to reproduce the issue?

[2016-03-26 16:46] mplushnikov commented on #154
I will close this issue now, because it is not reproducible for me. I hope it is something with your local setup...
Feel free to open new issue if problem still exists!

[2016-03-26 16:46] #154 closed

[2016-03-26 18:10] mplushnikov commented on #150
I will close it at the moment, because I cannot reproduce it and it look like an one time thing.

[2016-03-26 18:10] #150 closed

[2016-03-26 18:43] mplushnikov commented on #122
I will close this issue at the moment. Can still not reproduce the problem.
Feel free to open new issue if it occurs again!

[2016-03-26 18:43] #122 closed

[2016-03-26 23:36] AlexejK commented on #158
I've just tested the provided example with latest version of the plugin and it would seem to have solved the issue? Specifically i get no inspection errors in this code sample:

[code]

Difference is, however, that the inspection now says "requires it to be final or effectively final", which it is in current sample. By adding additional `bar = new Bar();` just before `foo.setBazListener` call you

[2016-03-27 00:54] Janmm14 commented on #122
Totally forgot this issue. Did not occurred again.

[2016-03-27 07:11] mplushnikov commented on #158
I just filed a issue IDEA-153706](https://youtrack.jetbrains.com/issue/IDEA-153706) for Intellij.

[2016-03-27 07:16] mplushnikov commented on #56
I just filed a issue [IDEA-153706](https://youtrack.jetbrains.com/issue/IDEA-153706) for Intellij.

[2016-03-27 10:48] mplushnikov commented on #21
I'm working now at better support for lombok configuration system (#53) and Builder updates (#192, #134). After it's done, I'll look more carefully on this issue. I promise!
Your bountysource program is very nice and motivating, thank you!

[2016-03-27 15:20] pmiddend commented on #155
Thanks for trying, I will get back to you on that on tuesday.

[2016-03-29 05:35] noxxs commented on #155
These are the steps that I am taking:

Before intent action:
![before](https://cloud.githubusercontent.com/assets/12800146/14098752/647658f2-f57f-11e5-95c5-4df6853b2667.png)

intent dialog:
![action](https://cloud.githubusercontent.com/assets/12800146/14098808/ec2d1650-f57f-11e5-97ab-33b40f71a6bc.png)

Result of intent action:
![after](https://cloud.githubusercontent.com/assets/12800146/14098751/6

[2016-03-29 16:14] chriskessel opened #197 "Cannot cast lombok.javac.handlers.HandleFieldDefaults to lombok.javac.JavacAnnotationHandler"
IntelliJ 15.0.4
lombok 1.16.8

Compiles fine with Gradle (2.3). When compiling in IntelliJ, it gives the following error. I think it might be classpath related since sometimes if I add a new dependency it starts working again until I swizzle dependencies around. I'm not positive on that though. For instance, I upgraded lombok from 1.16.6 -> lombok 1.16.8 and it started working. Yay! Then I upgrade

[2016-03-29 16:36] chriskessel commented on #197
Hmm, found one spot still pointed at lombok 1.16.6. I updated that to 1.16.8 and the problem has gone away again.

However, it used to work with 1.16.6 at one point. Updating was my shot at trying to make the error go away. I'm not sure if the update has fixed it or swizzled the classpath such that it doesn't happen.

[2016-03-29 18:45] mplushnikov commented on #197
Hello Chris,
can you make some minimal example of a project to reproduce your error?
I think, without some example nobody it would be extreme difficult for me or [lombok guys](https://github.com/rzwitserloot/lombok/issues/1046)  to find any solution.

[2016-03-29 19:32] chriskessel commented on #197
Sadly, no :frowning: . Or at least I haven't been able to yet. Anytime I strip it down to a minimal project the error vanishes.

I'll pay extra attention whenever a library is added/removed/updated and if this comes up again, maybe I can at least give the IntelliJ compile invocation lines that cause it and that should highlight the paths and the library change.

For now, it's working. Hopefully it

[2016-03-30 17:07] depsypher opened #198 "@SneakyThrows on lambdas"
The following bug is reported against lombok itself, but I think it's a lombok-intellij-plugin bug:
https://github.com/rzwitserloot/lombok/issues/1038

Reposting the description here:
Intellij plugin incorrectly thinks that this @sneakythrows usage is valid:

@SneakyThrows(ClonableNotSupported.class)
void myfunc() {
...
List list = some-array-list...
list.forEach(o -> {
ClonableObj o1 = o.clone();

[2016-03-30 17:25] depsypher commented on #198
After a bit more experimentation I find that the Problems view does correctly catch the error, but what's missing the the red underline of the code that throws the exception.

Additionally, if you've set up IntelliJ to use the Eclipse compiler, using SneakyThrows like this produces totally spurious errors.

[2016-03-31 11:52] idelpivnitskiy commented on #53
`lombok.accessors.chain = true` doesn't work if you don't have an `@Accessors` annotation on the bean. But according to the Lombok's doc:

If set to true, **any class that either doesn't have an @Accessors annotation, or it does**, but that annotation does not have an explicit value for the chain parameter, will act as if @Accessors(chain = true) is present.

Tested with version 0.10.16 and Intell

[2016-04-01 08:57] jorn86 opened #199 "Lombok integration stops working if lombok is included as gradle's compileOnly"
If I use a (new in Gradle 2.12) compileOnly dependency to include Lombok in my project, the Gradle build succeeds but the IntelliJ one does not, failing on all Lombok generated code.

[code]
works, but
[code]
does not

[2016-04-01 11:49] Inlustra commented on #21
+1 :+1: Just discovered this feature and got all excited... :'(

[2016-04-01 17:16] kirviq commented on #153
Hi

I configured Diamond-Inspections to show up as notices (because there is nothing really wrong with the code, it just could be a little nicer) and all of a sudden my setting was changed back to warning again.
Some researching and experimenting (turning the lombok plugin off) later I came across this issue and found out that it's enough to turn off the one line in the config file that overrides

[2016-04-02 08:18] mplushnikov commented on #197
Is your project working in  "classpath file mode"? Can you check your .idea/workspace.xml file please, does it contains:
[code]
?

[2016-04-02 08:47] mplushnikov commented on #153
You may to ask of course:) Please file new issue for it.

[2016-04-02 15:31] kirviq opened #200 "lombok plugin overrides diamond-inspection severity"
Since version 0.9.8 the lombok plugin hardcodes the severity of the Convert2Diamond inspection to "warning".

If there is no way to preserve the configured severity, a setting to turn the fix to https://github.com/mplushnikov/lombok-intellij-plugin/issues/153 off would be a workaround.

[2016-04-04 12:39] chriskessel commented on #197
I don't have that value set. Should I have it set? I don't see a checkbox for it in the IntelliJ settings.

[2016-04-04 17:26] mplushnikov commented on #197
No, you should not. Is it possible, that on big project Intellij automatically switch to [classpath file mode](http://stackoverflow.com/questions/4853540/what-does-the-dynamic-classpath-flag-do-intellij-project-settings) for compiling. That could explain problems like yours...

[2016-04-04 19:28] mplushnikov commented on #125
New version (0.11) of plugin was released today. It contains many improvements for configuration system of lombok. This issue should be fixed now.

[2016-04-04 19:28] #125 closed

[2016-04-04 19:28] mplushnikov commented on #128
New version (0.11) of plugin was released today. It contains many improvements for configuration system of lombok. This issue should be fixed now.

[2016-04-04 19:28] #128 closed

[2016-04-04 19:30] mplushnikov commented on #53
New version (0.11) of plugin was released today. It contains many improvements for configuration system of lombok. Please verify it and open new issues for new problems:)

[2016-04-04 19:30] #53 closed

[2016-04-05 05:29] m-manu commented on #21
Finally! :+1:

[2016-04-05 10:58] ESmilic opened #201 "com.intellij.util.PathUtil.toSystemIndependentName(Ljava/lang/String;)Ljava/lang/String;"
[error.txt](https://github.com/mplushnikov/lombok-intellij-plugin/files/204286/error.txt)
Intellij Idea 13.0.4

[2016-04-05 16:41] mplushnikov commented on #201
You should be able to update to IntelliJ 13.1.6 at least I think. [Intellij Download](https://confluence.jetbrains.com/display/IntelliJIDEA/Previous+IntelliJ+IDEA+Releases) This is the version of Intellij I use to check plugin compatibility with.
Why are you using 13.0.4 version?

[2016-04-08 09:18] ESmilic commented on #201
switched to 13.1.6, thanks

[2016-04-08 09:18] #201 closed

[2016-04-08 11:23] punkratz312 opened #202 "@Builder supports setter for final field (@Value)"
The field **age** gets initialized with 0. As the @Value annotation makes the field final the implizit @AllArgsConstructor [https://projectlombok.org/features/Value.html] does not provide the field but the builder does.

Maybe it would be an solution orientate at the params the constructor provides.

PS: I would like to be able to pre initialize the field **age** and be at the same time able to ov

[2016-04-08 12:24] AlexejK commented on #202
Your example has errors even in Eclipse with lombok installed. I believe this is because of conflics between `@Builder` and `@Value`.

Can you provide a working example of the code in Eclipse for this issue that fails in IntelliJ?
Otherwise I would suggest you refer back to original lombok project and file a bug there:  https://github.com/rzwitserloot/lombok

[2016-04-08 12:28] Janmm14 commented on #202
Intellij currently does not have a proper API for setting the final keyword, see #56

[2016-04-09 13:06] #158 closed

[2016-04-09 13:34] mplushnikov commented on #158
The update should be available in the next version of plugin (0.12) and will work only for new versions of IntelliJ Idea (2016.2)(build >=146.1154)

[2016-04-09 16:10] Sheigutn commented on #143
I just added support for this annotation in my fork, would be great if @mplushnikov could test it. :)

[2016-04-09 16:33] AlexejK commented on #143
@Sheigutn , Im currently changing a little bit in the structure of the project to provide better/cleaner way of doing modifier processing. We shall see what @mplushnikov thinks about it but it would seem that the only conflict there would be `LombokAugmentProvider`part (which is tiny). If you are interested, take a look here: https://github.com/mplushnikov/lombok-intellij-plugin/compare/master...A

[2016-04-09 16:35] Sheigutn commented on #143
@AlexejK Great, that makes the whole modifier processing easier. :+1:

[2016-04-10 10:33] #56 closed

[2016-04-10 10:33] #137 closed

[2016-04-10 10:33] #202 closed

[2016-04-10 10:38] AlexejK commented on #143
@Sheigutn, Do you mind updating your fork for supporting `@UtilityClass` as per the changes in #204? The latter has been merged as you can see and you should be able to adopt to the changes quite nicely.

Feel free to send a PR then as well :)

[2016-04-10 16:25] mkochenough opened #207 "onConstructor handling"
Lombok provides a nice trick to generate constructors with additional annotations added to them. This helps a lot with writing code that uses dependency injection, e.g. with Spring Framework.

A simple testcase looks as following:

@Component
@RequiredArgsConstructor(onConstructor = @__(@Autowired))
public class SomeService {

    private final SomeRepository someRepository;

    private final Ano

[2016-04-10 16:38] AlexejK commented on #207
It works for me with Spring Framework, Latest intelliJ version and latest Lombok Plugin version.
What versions are you using?

[2016-04-10 20:12] AlexejK commented on #199
Could you please provide the version of a IntelliJ you are running as well as version of the lombok plugin?

I've just tested on 2016.1, as well as latest trunk of IntelliJ and it seems to be working as expected.

[2016-04-10 20:32] fredo994 opened #209 "@EqualsAndHashCode unnecessary warning"
@EqualsAndHashCode(of = {"val"}) gives a warning:
Generating equals/hashCode implementation but without a call to superclass, even though this class does not extend java.lang.Object.If this is intentional, add '(callSuper=false)' to your type.

And callSuper = false is default value.

![screenshot from 2016-04-10 22 29 15](https://cloud.githubusercontent.com/assets/7530821/14412886/b6e62f0e-ff6b-1

[2016-04-10 20:41] AlexejK commented on #209
What version of the plugin are you using? Please also provide version of intelliJ you are on.
I believe this has been fixed in #184 which was part of 0.10 release of this plugin

[2016-04-10 21:05] fredo994 commented on #209
Lombok Plugin Version: 0.11.16
IntelliJ IDEA 2016.1.1
Build #IU-145.597, built on March 29, 2016
JRE: 1.8.0_76-release-b18 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o

[2016-04-10 21:16] AlexejK commented on #209
Interesting. This is very similar to my setup i'm testing on.
Could you please provide a sample code or a project to reproduce this?

[2016-04-10 21:19] fredo994 commented on #209
![screenshot from 2016-04-10 23 18 58](https://cloud.githubusercontent.com/assets/7530821/14413191/a1cefa4a-ff72-11e5-8a7e-51d25e113041.png)

[2016-04-10 21:48] mkochenough commented on #207
I'm using IntelliJ 2016.1.1, Lombok plugin 0.11.16, and lombok 1.16.8.

The error message I get is:

Error:(18, 43) java: cannot find symbol
  symbol: class __

I uploaded a test project to https://github.com/mkochenough/lombok-test

[2016-04-11 06:43] #143 closed

[2016-04-11 07:22] AlexejK commented on #207
it would seem that you do not have annotation processing enabled for your IntelliJ, according to `.idea/compiler.xml`

For lombok to work, please enable it.

[2016-04-11 07:30] #147 closed

[2016-04-11 07:47] AlexejK commented on #209
The warning is valid, as per [https://projectlombok.org/features/EqualsAndHashCode.html](lombok documentation).

[2016-04-11 07:59] ByteFlinger opened #210 "Changing log annotation requires restart of Intellij to work"
Hi

When I have a class with some log annotation, for example @Slf4j, and
then I change it to another log annotation like @Log4j2, it seems that
the change is not taken effect and Intellij shows an error in all log
variables as if there was no such variable.

The only way to fix it from what I can see it to restart Intellij.

[2016-04-11 09:18] AlexejK commented on #155
@mplushnikov, I did a very quick test on this and found some interesting behaviour.

Provided reference project doesn't have default annotation processing enabled, but Maven Annotation processing is enabled. Upon removal of all `*.iml` files as well as `.idea` and re-import of the project with Default annotation processing enabled - the refactoring intent is not even shown.

By creating a project

[2016-04-11 09:40] mkochenough commented on #207
You are right. I setup a new IntelliJ and totally forgot about this. Sorry for the annoyance.

[2016-04-11 09:40] #207 closed

[2016-04-11 10:47] AlexejK commented on #207
No problem, glad this works for you now!

[2016-04-11 13:17] punkratz312 commented on #143
Nice, thanks a lot.

[2016-04-11 13:21] Janmm14 commented on #155
There is an option for default annotation processing in the settings in the compiler section.

[2016-04-11 13:25] AlexejK commented on #155
Yes, the point is, it was not enabled and even simply enabling it does not seem to help, while the full re-import does help. and removes the intent as well. Sample project has "maven annotation processing" enabled while default one was disabled. Both enabled did not do much either.

[2016-04-11 13:30] eekboom opened #212 "IDEA inspection "Field may be 'final'" triggers in spite of @Setter"
IDEA's inspection "Field may be final" triggers incorrectly on this field:

[code]

Lombok plugin: 0.11.16
IDEA: IU-145.844.1 (2016.1.1 bug fix EAP from https://confluence.jetbrains.com/display/IDEADEV/IDEA+2016.1+EAP )

[2016-04-11 13:32] Janmm14 commented on #155
Okay.

[2016-04-11 13:46] AlexejK commented on #212
This is interesting. Could you provide a sample project that reproduces this? Also please make sure that you have annotation processing enabled.

You can double-check it by looking at `.idea/compiler.xml` and see if it's enabled there for default annotation processing.

[2016-04-11 14:01] eekboom commented on #212
Here's the project. Annotation processing is enabled and IDEA is fine with code that calls the lombok-generated setter.
[final.zip](https://github.com/mplushnikov/lombok-intellij-plugin/files/213098/final.zip)

[2016-04-11 14:36] AlexejK commented on #212
Thank you, it can now be reproduced after inspecting your setup.

[2016-04-11 14:52] FiMka opened #213 "Lombok doesn't work with Intellij Idea 2016.1.1"
Hello,

Could you please help me to understand what I'm doing wrong.
I installed lombok v. 0.11.16 in Idea 2016.1.1, restarted IDE, then enabled annotation processors from project and IDE preferences. But if I import lombok.* or use any lombok annotation, the IDE is not able to recognise the library: cannot resolve lombok.
Any help would be highly appreciated. Thanks.

Maxim

[2016-04-11 15:44] AlexejK commented on #213
you need to add lombok itself to your project as a dependency. The plugin only lets IDE recognize lombok transformations, but doesn't add "org.projectlombok:lombok:1.16.8" to your dependency list

[2016-04-11 15:57] mplushnikov commented on #210
The root cause of this problems seems to be a result of the aggressive optimization for some of performance problem. I'll investigate it...

[2016-04-11 19:06] FiMka commented on #213
Hi Alexey! Great thanks for the detailed answer, you're absoultely right, I've just added the library and all is fine for now. :+1:

[2016-04-11 19:23] #213 closed

[2016-04-11 21:50] Janmm14 commented on #210
@mplushnikov maybe add a simple clear lombok cache somewhere in the menu?

[2016-04-13 08:44] intohole opened #216 "lombok not support java8"
Warning:(14, 8) java: Can't initialize javac processor due to (most likely) a class loader problem: java.lang.NoClassDefFoundError: com/sun/tools/javac/code/TypeTags
  	at lombok.javac.handlers.HandleGetter.<clinit>(HandleGetter.java:263)
  	at java.lang.Class.forName0(Native Method)
  	at java.lang.Class.forName(Class.java:348)
  	at lombok.core.SpiLoadUtil$1$1.next(SpiLoadUtil.java:111)
  	at lo

[2016-04-13 08:53] AlexejK commented on #216
Hi and thank you for reporting this.

I have a few questions to get further with this:
 - Can you please provide a sample project that exhibits this issues?
 - Which plugin version are you using?
 - What version of a Lombok dependency do you have?

[2016-04-13 08:54] intohole commented on #216
lombok version:0.11.15

[2016-04-13 09:03] AlexejK commented on #216
`0.11.15` is the lombok plugin for intellij.
You must, however also have the lombok itself as a project dependency. for instances the latest version is `1.16.8`, and dependency artifact name is "org.projectlombok:lombok:1.16.8" (In Gradle notation).

A sample project helps a lot to understand what's wrong with your setup.

Java 8 is supported and we are using it extensively, so I believe it's rela

[2016-04-13 12:46] intohole commented on #216
i config Annotation processing enabled ; I locate in china , i couldn't download lastest release ,  Could you upload other location that i can download it ?

[2016-04-13 14:40] AlexejK commented on #216
The lombok dependency on your classpath should be installed according to either readme of this project, or from https://projectlombok.org/download.html

As I mentioned before, this plugin is **only** providing IDEA support. Compiler still needs Lombok itself to be on your classpath. Please refer to [README.md](https://github.com/mplushnikov/lombok-intellij-plugin/blob/master/README.md#installation

[2016-04-13 17:48] Janmm14 commented on #216
@intohole If you can't access specific sites, consider using some tools that will unblock it.

[2016-04-14 12:49] Zteve opened #222 "IntelliJ plugin fails "PSI and index do not match""
(Originally posted at rzwitserloot/lombok.)

IntelliJ IDEA 2016.1.1
Build #IU-145.597, built on March 29, 2016
JRE: 1.8.0_40-release-b132 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o

Lombok plugin: Version: 0.11.16

The project exhibiting this error is found here: https://github.com/cloudfoundry/cf-java-client, although this error is intermittent, and currently not exhibited.

Attachme

[2016-04-14 14:12] AlexejK commented on #222
Hi @Zteve , Are you able to provide the minimal project for this? Preferably something that can be easily reproduced to track down this error.

Im not entirely sure this is due to Lombok plugin itself and could be an issue in the IDEA itself.

[2016-04-14 16:08] Zteve commented on #222
Unfortunately not, Alexej. The problem occurs when I am typing, and therefore have a partially completed  source, and it is not clear when or what causes it.  I cannot reproduce it: I was hoping that the attachments would help you to locate where the trouble is.

[2016-04-14 16:32] AlexejK commented on #222
Ok. From the quick look at the stacktrace it would seem that it might ber some internal IDEA things, but it's hard to validate without reproducability. Generally we are calling standar set of PSI APIs and it seems to be failing further down the line within some elements.

Which lombok features are used in the file you were seeing the issue with?

[2016-04-14 16:38] AlexejK commented on #222
Actually, I inspected the submitted file and see no lombok features used at all. Humm, @mplushnikov: any ideas if this is something in the current codebase that might be triggering it?

Psi structure should be complete and allow fetching annotations etc, but it seem to fail somewhere further down the line :8ball:

[2016-04-15 06:40] intohole commented on #216
thx , i found  i config wrong , i  will check my config , and update my pom.xml to newest version ;

[2016-04-15 06:40] #216 closed

[2016-04-15 13:31] Zteve commented on #222
Although the referenced file doesn't appear to use Lombok at all it does have some generic methods, some of which could be (indirectly) instantiated with Lombokéd classes.

Our project uses `@Data` (often extending to superclasses), `@Builder` (always on constructors), and `@Singular`, passing quite a few other annotations through to getters. It also uses Spring `@Bean` annotations with `@Autowire

[2016-04-16 11:19] npokr commented on #199
IDEA 15.0.5, lombok plugin 0.11.15.
Simple test project build.gradle:
[code]
Sample class:
[code]
Sample test:
[code]
Now lombok dependency marked as provided and I can run test from IDE, but gradle task `test` fails with `error: package lombok.extern.slf4j does not exist...`
Well, let's try to fix: add `testCompileOnly "org.projectlombok:lombok:1.16.8"` into dependencies.
Now lombok dependency ma

[2016-04-16 11:24] jorn86 commented on #199
Thanks for adding that, I hadn't gotten around to it yet.

[2016-04-16 13:01] AlexejK commented on #199
Actually I still cannot reproduce this.

if you have both `testCompileOnly` and `compileOnly` (which you must as per [Gradle docs, Java Plugin 45.5 Dependency Management](https://docs.gradle.org/current/userguide/java_plugin.html) and you have refreshed your Gradle dependencies, IDEA correctly puts lombok in both `main` and `test` sourceSets.

As per docs, `compileOnly` extends `compile`, `testCom

[2016-04-16 13:13] #199 closed

[2016-04-16 13:15] AlexejK commented on #222
Thanks for detailed explanation. I'll try to dig a bit further in here but not sure if this is still something specifically related to the plugin. Do you have some details about `@ToString` issue? Could it be somehow related and be an issue in lombok itself?

[2016-04-16 13:17] AlexejK commented on #197
One interesting fact to remember is that IDEA 2016.1 introduced a much better handling of Gradle, so it might actually be related to IDEA itself.

[2016-04-18 08:23] punkratz312 commented on #202
Thanks for the help 👍

[2016-04-18 08:35] jorn86 commented on #199
I can confirm upgrading to 2016.1 fixed the problem for me.

[2016-04-18 08:41] Zteve commented on #222
I wasn't party to the `@ToString` problem, but a user of our API discovered a stack overflow in a `toString()` method that was generated by Lombok's `@ToString`. The strange thing was that the user was not calling `toString()`, even indirectly, as far as we could discover. It was happening when an object was being instantiated. My own guess is that the object instantiation was failing (a hand-writ

[2016-04-18 17:27] devshorts opened #224 "Error logged: SpinAllocator has exhausted! Too manySpinAllocator has exhausted! Too many threads or you're going to get StackOverflow. threads or you're going to get StackOverflow."
Getting this error while in a scala project. It seems to still work fine in java land. Not sure what gives.  I'm not seeing any actual side effects of the issue other than an error that pop ups sometimes

[code]

[2016-04-19 02:29] brunelloriserva opened #225 "@Singular clearXXX not recognized"
When using the clearXXX methods for @Builder fields annotated with @Singular, you get a 'Cannot resolve method' error in the editor.  I am running version 0.11.16 of the plugin and IntelliJ Ultimate 2016.1.1.

[2016-04-19 07:55] AlexejK commented on #225
Lombok features of v1.16.8 are not currently supported.  See #192

[2016-04-19 19:03] febelectron commented on #222
Getting the same error like 25 exceptions in a day with different jars and classes. Attached the stacktrace.
We are using annotations Data, Getter, Setter, Log4j, Slf4, AllArgsConstructor, NoArgsConstructor. No ToString, Builder, Singular used.
[lombok.txt](https://github.com/mplushnikov/lombok-intellij-plugin/files/226624/lombok.txt)

[2016-04-19 19:59] #103 closed

[2016-04-19 20:12] mplushnikov commented on #224
Are you using last version (0.11) of plugin? What is your Intellij version? OS?

[2016-04-19 20:51] devshorts commented on #224
I am using version 0.11.6, intellij version 2016.1.1 build 145.597, osx el capitan

[2016-04-21 09:37] eekboom opened #226 "@Setter(AccessLevel.NONE) triggers "final field is not allowed""
We sometimes use @Setter on class level, but @Setter(AccessLevel.NONE) to suppress the setter for individual fields.

The plugin's annotations inspection still complains that
@lombok.Setter on final field is not allowed
for

[code]

[2016-04-21 13:01] Janmm14 commented on #226
If you use Setter on class level it ignores final fields.

[2016-04-22 15:45] cchet opened #227 "Intellij does not recognize fields on constructor creation if annotated with @Getter and @Setter"
If a class defines Properties in the following way:

[code]

then Intellij IDE does not recognize the filed on 'generate' -> 'constructors' and will not provide selection for the fields with this signature. If all properties have been defined in this way and an empty contructor is already defined within the class, then Intellij will tell you that already all constructors have been created for this

[2016-04-22 21:01] eepstein commented on #209
There's a related issue - not sure whether I should open a separate thread for this:

@Data // Warning issued even though this class implements its own equals() and hashCode() methods.
public class Foo extends Bar {

...

    @Override
    public boolean equals(Object o) {
        return ...;
    }

    @Override
    public int hashCode() {
        return ...;
    }
}

The plugin warns that super

[2016-04-26 16:35] Janmm14 opened #228 "Contents of collection are not marked as modified if using @*Constructor -> Warning"
Example code with warning at ```list``` (Contents of collection are queried but never updated):

[code]

If you delombok the constructor or write your own constructor, the warning is not present. Example code:
[code]

Using Intellij 2016.1
Using lombok plugin 0.11.16
Using lombok 1.16.6 (maven dependency)
Reproducable after a "Invalidate Caches and restart", class cutting and pasting.

[2016-04-26 18:13] Janmm14 opened #229 "Check onMethod annotations"
### `onMethod` annotations are not checked

`onMethod` can basically contain any annotation as often as you want without an error being displayed (whether the annotation is marked as Repeatable is not relevant) while compilation failes as expected.

Here is a special case issue you might want to consider handling:
### No error displayed on duplicated `@NonNull` although being on the field and defi

[2016-05-02 03:22] rmittal1105 commented on #145
Facing the same issue with new Builder().

[2016-05-03 22:03] igorakkerman opened #230 "@Value / @EqualsAndHashCode callSuper false warning: lombok.config ignored"
Hi, the @Value annotation is marked as warning although lombok.config is present with 'lombok.equalsAndHashCode.callSuper = skip', same with @EqualsAndHashCode.

I attached a minimal demo project.

<img width="286" alt="2016-05-04 00_04_55-lomtest - c__lokal_lab_lomtest - lomtest - _src_main_java_lomtest_lomval" src="https://cloud.githubusercontent.com/assets/10802670/14999836/158274a0-118c-11e6-9

[2016-05-04 06:39] daijithegeek opened #231 "Evaluate expression in debug mode cannot access lombok generated logger"
Hello,

I created a class annotated with @Slf4j. During debug session, evaluating expressions containing java 8 streams fails.
![evaluate expression_048](https://cloud.githubusercontent.com/assets/2987252/15006758/a4eec1d8-11d3-11e6-9b28-c2405d520432.png)

[2016-05-04 07:48] AlexejK commented on #231
Does non-java8 expression work for the class/method that contains auto-generated variable?

[2016-05-04 09:08] daijithegeek commented on #231
yes the different cases I tested are working. You can even access the generated logger without any troubles. Apparently, only java8 or streaming API have issues

[2016-05-04 09:10] AlexejK commented on #231
What IDEA version are you on? and what plugin version are you using?

[2016-05-04 09:17] daijithegeek commented on #231
Sorry I forgot to mention that..
IDEA 15.0.5
lombok plugin: 0.11.15

[2016-05-04 09:20] AlexejK commented on #231
Would it be possible for you to try newest IDEA version? 2016.1 improved a lot of things.
Also there are a few things in 0.12 that should possibly help out, but we can double-check if it's working as expected.

Could you please provide a small sample project and exact steps to reproduce the issue, if 2016.1 is still not working for you?

[2016-05-04 09:37] daijithegeek commented on #231
So, I've not a working licence for 2016.1 so it won't be a solution for me on the short term :/

Anyway I tried with idea 2016.1 and lombok plugin 0.11.16. Same bug appears. I'll provide you with a sample project today.

[2016-05-04 10:18] AlexejK commented on #231
Thanks, I have a feeling this might be related to Modifier Visibility enhancements and one of the things that 2016.2 will introduce. However we have a work-in-progress backport for that to support IDEA 15 and 2016.1 as well.

But need to run it on a sample project to make sure.

[2016-05-04 11:41] daijithegeek commented on #231
[my-test.tar.gz](https://github.com/mplushnikov/lombok-intellij-plugin/files/248652/my-test.tar.gz)

Here is a sample project. The error message is different than the initial screen shot, but I think the problem is related.

Steps to reproduce:

1. import the project
2. Add a breakpoint at line 16 of MyTest class
3. Run MyTest main()  in debug mode until the BP
4. in Debug tab open the 'evaluate e

[2016-05-05 01:07] chonton opened #233 "@Value code generation occurs after IntelliJ validation"
When I add the final keyword to a field in a `@Value ` annotated class, IntelliJ will complain that the member is not initialized:

[code]

Similarly, when I have a `@Value ` annotated class implement an interface, IntelliJ will complain that the class is abstract:

[code]

[2016-05-05 02:09] billmasek opened #234 "Must use wildcard static imports with the Lombok plugin"
If I enable the lombok plugin if I try to use

import static my.one;
import static my.two;
import static my.thee;

the code automatically changes to
import static my.*;

If I disable the lombok plug-in that stops happening.
It works correctly with standard imports.

[2016-05-05 20:48] AlexejK commented on #234
I do not see how this is even possible.

Please provide versions of your IDEA, lombok plugin and a sample project.

[2016-05-05 23:05] chonton commented on #233
Now working re-starting IntelliJ.

[2016-05-05 23:05] #233 closed

[2016-05-06 02:17] jearton opened #235 "Lombok Plugin cannnot add "annotation processors profile" automatically for gradle project in idea"
Env: Lombok Plugin 0.11.15, Gradle 2.13, IDEA 15.0.5, Java8
Desc: When I create a maven project, there is a "maven default annotation processors profile" added  automatically, but gradle project can not. I have to add "gradle default annotation processors profile" manually. Apparently, the plugin is short of sth with gradle project...

[2016-05-06 05:28] AlexejK commented on #235
For Gradle project you can simply enable default annotation processor.

Please be aware that IDEA 2016.1 brings correct integration with Gradle via Tooling API. It also fixes a few issues affecting this plugin,  which cannot simply be solved without internal changes to the IDEA.

I personally use Gradle projects on daily basis so this part gets automatically a lot of testing and as long as either

[2016-05-06 05:49] jearton commented on #235
I get it. Thanks for detailed explanation.

[2016-05-06 06:25] #235 closed

[2016-05-06 12:36] AlexejK commented on #231
Thanks, I was able to reproduce it. It seems that for some reason augmentation is not going the same way when evaluating expressions, even though I see it happening. We will have to dig deeper into this, even though it might be IDEA issue as well.

If replacing `@Slf4j` with simple `private static final Logger log = LoggerFactory.getLogger(MyTest.class);` Evaluation does go through.

@mplushnikov:

[2016-05-12 17:45] Dibro89 opened #236 "val doesn't work inside lambda"
`Runnable run = () -> { val str = ""; };`
Compilation error: incompatible types: java.lang.String cannot be converted to lombok.val

[2016-05-12 19:00] AlexejK commented on #236
This is a lombok limitation, not the IDEA lombok plugin. please report to the correct project: https://github.com/rzwitserloot/lombok

They have this issue reported already though: https://github.com/rzwitserloot/lombok/issues/911

[2016-05-12 19:00] #236 closed

[2016-05-15 11:42] mplushnikov commented on #231
As long as I can see, IntelliJ uses [com.intellij.debugger.ui.impl.watch.CompilingEvaluatorImpl](https://github.com/JetBrains/intellij-community/blob/10a4c91dbfca935b4b5531003fd8c13b56e66202/java/debugger/impl/src/com/intellij/debugger/ui/impl/watch/CompilingEvaluatorImpl.java) to compile dynamically created class with some code for evaluation-string.
But the compiler is started with annotation pr

[2016-05-15 12:05] mplushnikov commented on #231
[IDEA-156045](https://youtrack.jetbrains.com/issue/IDEA-156045) Evaluate expression in debug mode cannot access any of lombok code extensions

[2016-05-15 20:42] #230 closed

[2016-05-15 20:43] mplushnikov commented on #230
It should be fixed in the next release 0.12

[2016-05-15 20:57] igorakkerman commented on #230
Thanks a lot for taking care!

[2016-05-19 11:59] mmoehring opened #237 "Setter generation fails on class implementing interface"
System: InelliJ 2016.1.2, Java 8, OS X 10.10

When trying to generate generate a setter for class which implements an interface where the setter is part of the interface, it fails. Minimal example:

[code]
[code]

It triggers the following errors in IntelliJ:

  return type de.foo.bar.TestImpl is not compatible with void

When using DeLombok on the setter it generates the following code:
[code]

[2016-05-19 12:03] AlexejK commented on #237
Does this work for you in Eclipse?

Because from what I see you are requesting a fluent accessor setup which means a setter will return the instance of the class (read `return this`). This is not compatible with your interface definition that wants a `void` method with exactly same parameters.

Please refer to Lombok Documentation for Accessor: https://projectlombok.org/features/experimental/Acces

[2016-05-19 12:06] mmoehring commented on #237
My bad... I overlooked that chain defaults to true for setters!
Setting it to false resolves the problem.

[2016-05-19 12:07] AlexejK commented on #237
Nice we sorted it out quickly :)

[2016-05-19 12:07] #237 closed

[2016-05-22 19:57] vtsukur opened #238 "Overriding val variable is not highlighted as an error unless the code is compiled"
Consider the following code inside a method:

[code]

This code won't compile because `val name = "Jack"` turns into `final String name = "Jack"` and overriding `final` variable is not allowed.

The issue is that there are no signs of the compilation problem while editing code: text is not underlined with a red line. Is it something that can be fixed? Otherwise, developer has a false assumption th

[2016-05-22 20:47] AlexejK commented on #238
This is a limitation in versions below 2016.2 of IDEA where modifier visibility is not possible to set.
We have an upcoming version of the plugin that supports this on 2016.2 and actually provides a backport of the functionality for earlier versions of the plugin. This feature is available in the next release version of the plugin.

Basically what you are reporting is related to https://github.com

[2016-05-22 20:47] #238 closed

[2016-05-22 20:49] AlexejK commented on #234
Due to lack of feeback as well as no proper information provided i will resolve this issue as invalid.
Please feel free to reopen and provide the requested information if you feel this is still an issue.

[2016-05-22 20:49] #234 closed

[2016-05-22 20:51] vtsukur commented on #238
Cool, thank you for the explanation!

[2016-05-24 01:16] manjaepark commented on #127
+1 here

[2016-05-24 06:20] andidev commented on #127
+1

[2016-05-24 07:55] daniphp commented on #144
This is really a show stopper for me. Can you please increase the priority? Are there other workarounds than text search?

[2016-05-24 09:09] twilek opened #239 "Inspection that suggest to convert an explicit declaration into using val"
This is not an issue but a feature request. val declarations works great with the plugin nowadays. One thing I miss though is a code inspection that suggest to turn an explicit declaration into a val declaration.

In  other words, an inspection that ask to do this:
`MyObject myObject = new MyObject();` ---> `val myObject = new MyObject();`

[2016-05-24 23:25] Janmm14 commented on #144
I don't know wherher the generated mezhods are shown in the file outline, but if they're shown, you can search from there as far as I know.

[2016-05-25 08:38] AlexejK commented on #239
I think we need to be a bit careful about this feature.
This inspection should only work to remove verbosity and not cause more confusion.

My __personal__ view of `val` usage is:
It should only be used on either streams or cases where the same type information is repeated multiple times (like the example in the original issue).
Places where `val` might cause more harm is when you have something l

[2016-05-25 09:06] twilek commented on #239
The best thing is to make it possible for the user to enable or disable the inspection. In that way everyone can choose if it suits them or not.

I do not think this is really the right forum for personal discussions about the "be or not to be" of val, but if you want my opinion you can read it here http://stackoverflow.com/questions/3443858/c-sharp-var-keyword-equivalent-in-java#comment14964521_3

[2016-05-25 09:15] AlexejK commented on #239
I can agree that it's not for a personal opinion, however I am cautious about adding something that may lead to some future anti-patterns (which it may become, depending on where you are working).

I think the "forcing to make it readable" is not true for most less experienced (or just more sloppy) devs. For it to truly work there has to be a 100% buy-in from all team members and also something in

[2016-05-25 09:33] twilek commented on #239
I'm working in a team too, and have worked in very many teams over the years, both small and large , where val/var with great success without any problems, so I'm not walking about what is most maintainable for _me_, but for _the team_. As I said, val makes you think twice before naming a variable so _other_ developers more easily can understand the code. In my opinion less experienced or sloppy p

[2016-05-25 09:39] AlexejK commented on #239
Well, question is not if it should be added or not :) It's a good addition.

The things to iron out is about the granularity/configuration of the inspection as well as if it should be enabled or disabled by default.

It may sound like a small thing, but it still is important IMO :)

[2016-05-25 09:48] twilek commented on #239
The only thing I asked for was a code inspection that suggest to turn an explicit declaration into a val declaration. I really do not care if it is disabled by default, that would be fine for me. I really miss this feature for the reason that it is make it easier to make it clear that everyone in the team shall use val.

[2016-05-26 08:48] gradha commented on #229
Another problem of `onMethod` being ignored is that integers marked with [@IntDef](https://developer.android.com/intl/es/tools/debugging/annotations.html#enum-annotations) will be flagged as incorrect use by the IDE. Consider the following getter:

[code]
When this getter is used later for comparisons it will be flagged as in the following screenshot:

<img width="392" alt="captura de pantalla 201

[2016-05-29 12:06] Janmm14 commented on #229
Also related: ```@NotNull``` and ```@Nullable``` on an interface getter method report that overridden getter methods are not annotated if its an ```@Getter``` method. No matter whether only the field is annotated or the getter has the onMethod filled.

[2016-06-02 18:14] IceMan81 opened #240 "Support for @UtilityClass"
The plugin does not correctly support the UtilityClass annotation.
See attached screenshot.

The annotation makes the inner class AquaTestRuntimeFactory static and so the static method create() is valid but Intellij complains about this.

![image](https://cloud.githubusercontent.com/assets/1093778/15755751/139750e6-28b3-11e6-94a7-b02feff5e3b7.png)

[2016-06-02 19:52] AlexejK commented on #240
Dupe of https://github.com/mplushnikov/lombok-intellij-plugin/issues/143

[2016-06-02 19:52] #240 closed

[2016-06-02 20:40] IceMan81 commented on #240
@AlexejK Sorry about that, should have searched properly before opening the issue. Thanks.

[2016-06-03 05:01] chilicookie opened #241 "Error on Java project: StackOverflowError"
This is an error message from IntelliJ IDEA 2016.2 EAP.
-------------------------------------------------------------

[code]

[2016-06-03 07:15] AlexejK commented on #241
Stacktrace is great, but it would seem we are ending up quite a few steps into intellij own codebase. Now this does not mean that it's not an issue in a plugin, but we need to get the following from you to be able to investigate properly:

- [ ] Version if IntelliJ plugin used
- [ ] Version of Lombok on your classpath
- [ ] Sample project reproducing the issue
- [ ] Steps to reproduce the issue wi

[2016-06-03 12:46] nickus opened #242 "Problem with Intellij IDEA 2016.2"
Hi! Problem with Intellij IDEA 2016.2

IntelliJ IDEA 2016.2 EAP
Build #IU-162.646.4, built on May 31, 2016
IntelliJ IDEA EAP User
Expiration date: ******
JRE: 1.8.0_76-release-b205 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o

        <dependency>
            <groupId>org.projectlombok</groupId>
            <artifactId>lombok</artifactId>
            <version>1.16.6</version>

[2016-06-03 12:51] nickus commented on #242
Additional StackTrace:

null
java.lang.StackOverflowError
	at java.lang.ThreadLocal.get(ThreadLocal.java:161)
	at com.intellij.openapi.application.impl.ReadMostlyRWLock.isReadLockedByThisThread(ReadMostlyRWLock.java:77)
	at com.intellij.openapi.application.impl.ApplicationImpl.isReadAccessAllowed(ApplicationImpl.java:977)
	at com.intellij.openapi.application.impl.ApplicationImpl.assertReadAccessAl

[2016-06-04 11:20] kuhnroyal commented on #241
Having this as Problem as well since yesterday.
IntelliJ Build: 162.646.4
Plugin version: 0.11.16
Lombok version: 1.16.8

Seems to happen as soon as I try to use the first autocomplete after opening the project.

[2016-06-04 11:28] kuhnroyal commented on #241
Lots of these actually, here are some examples.
[code]
[code]
[code]
[code]
[code]
[code]

[2016-06-04 11:31] igorakkerman commented on #241
This is a showstopper, as it requires downgrading IntelliJ to be able to keep working :/

[2016-06-04 13:57] AlexejK commented on #241
EAPs are not guaranteed to be stable or work fully, including plugins might have issues.
As i requested in my first comment we need to have a sample project that exhibits the issue.
My projects at work + personal ones do not exhibit the issue with the latest EAP and this plugin.

[2016-06-04 13:58] AlexejK commented on #242
Sounds like related to #241 and is due to latest EAP changes. Any sample projects where the issue exhibits and could be reproduced?

[2016-06-04 16:21] AlexejK commented on #241
Part of the problem may be in here:

https://github.com/JetBrains/intellij-community/commit/e3fe4c48711659f8fbfc2a4f651e04e2d03395de#diff-4f011625b17f07aeb872bd08014fac21

[2016-06-04 16:26] AlexejK opened #243 "ModifierVisibility: 2016.2 EAP Changes"
It would seem that the PsiAugmentProvider API changed and the ModifierVisibility API has changed as per: https://github.com/JetBrains/intellij-community/commit/e3fe4c48711659f8fbfc2a4f651e04e2d03395de#diff-4f011625b17f07aeb872bd08014fac21

This may be partly affecting #241 and #242 (However 0.11 of the plugin does not rely on that functionality)